[2014-04-24 19:11] farcaller opened #1 "Make the tests possible"
All ioreg access is wrapped in VolatileCell, so it should be simple to provide ioreg mocks in tests. It's however not possible to build zinc with `--test`, as rust-core conflicts with std.

A way to fix that is to drop rust-core and use bare minimum from libstd, so that native builds without `no_std` are possible.

[2014-04-24 19:12] farcaller opened #2 "Add support for bit-band regions on C-M3/C-M4"

[2014-04-24 19:13] farcaller opened #3 "Improve the usability of ioreg"
Edit(bharrisau): Trying to combine all the updated to ioreg into one issue for better discussion.

ioreg registers should support `fn masked_set_NAME(mask: u32, val: u32)`. This would be much easier when `concat_idents!` works.
- [ ] ioreg masked_set
- [ ] ioreg support for bit-band regions #3
- [ ] ioreg bitfields #33

[2014-04-24 19:14] farcaller opened #4 "Clean up ioreg macros"

[2014-04-29 15:40] #4 closed, assigned to nobody

[2014-05-02 09:26] probar opened #6 "Wrap the stm hal"
Have you heard of the new stm hal ?

http://www.st.com/web/en/press/p3517

Wrapping it with rust might be a nice solution for zinc, and give access to a a large amount of mcu's.

[2014-05-04 01:43] bharrisau opened #7 "Does hal/cortex_m3/default_handlers.s need to be .S?"
It has preprocessor defines, so I figured that meant .S was needed?

[2014-05-04 07:38] #7 closed, assigned to nobody

[2014-05-04 11:35] farcaller opened #10 "Submit llvm patches required to build zinc"
A tracking bug. Zinc couldn't be compiled without modifying rustc first.

[Patches](https://github.com/farcaller/llvm-patches)

[ML Thread](http://lists.cs.uiuc.edu/pipermail/llvmdev/2014-May/072596.html)

[2014-05-05 00:38] bharrisau opened #12 "Directory structure for devices"
I'd like to start adding support for the Freescale Kinetis devices I'm using. I was thinking something like the following for the directory structure:

[code]

So hal would have the generic abstractions, the vendor (kinetis/stm32) has the generic vendor peripherals, and the device folder has the layout/memory-map/device specific stuff.

Or did you have another layout in mind?

[2014-05-05 23:51] bharrisau opened #14 "Add support for cortex_m0 (m0+, m1) to scheduler"
Some of the operations used by the scheduler (STMDB) aren't supported by the cheaper cores. I think the assembler also complains about the SVC call, which is supported (so perhaps the assembler is incorrect).

[2014-05-05 23:56] bharrisau opened #15 "Add travis/rust-ci build"
I'll probably have a go at this tonight.

[2014-05-06 00:01] bharrisau opened #16 "Add local overrides for Rakefile constants"
I'm not up to scratch on Ruby, but I have my own `TOOLCHAIN_LIBS_PATH`, is there a way to persist that locally instead of using `git stash` all the time?

Something like `Rakefile.local` and `import Rakefile.local if exists`? Then add Rakefile.local to the .gitignore?

[2014-05-06 01:35] bharrisau opened #17 "Cause processor to reset instead of lockup when no debug adapter connected"
A `bkpt` instruction in the hardfault handler will result in a lockup if there is no debug adapter connected. Would it be preferred to reset the core in production environments?

[2014-05-06 07:05] #16 closed, assigned to nobody

[2014-05-06 07:12] #6 closed, assigned to nobody

[2014-05-06 07:12] #1 closed, assigned to nobody

[2014-05-07 08:48] #15 closed, assigned to nobody

[2014-05-07 08:53] bharrisau opened #20 "Deprecated cast in volatile_cell"
`src/lib/volatile_cell.rs:45:29: 45:42 warning: use of deprecated item: casting &T to &mut T is undefined behaviour: use Cell<T>, RefCell<T> or Unsafe<T>`

I haven't looked at this, just copying from the Travis build.

[2014-05-07 09:59] #20 closed, assigned to nobody

[2014-05-07 21:14] farcaller opened #23 "Rebuild when features change"
features array should be hashed and saved to trigger libzinc rebuild on change.

[2014-05-07 21:30] farcaller opened #25 "Add a rake target to build all apps for travis testing"
`rake build_all` should build all apps.

[2014-05-07 23:10] bharrisau opened #26 "Move to new libcore"
Work is progressing on splitting up libstd (mozilla/rust#13851). This issues is to track that change.

[2014-05-08 12:09] #25 closed, assigned to farcaller

[2014-05-08 12:29] #23 closed, assigned to farcaller

[2014-05-08 12:55] farcaller opened #28 "Do not run apt-get update for all repos in travis"
apt-get update should fetch only the ppa, [see this](http://askubuntu.com/questions/65245/apt-get-update-only-for-a-specific-repository) for required flags.

[2014-05-08 12:56] farcaller opened #29 "Collect binary sizes for travis builds and build a chart"
Now that #22 provides all the binary sizes in travis builds it should be possible to extract binary sizes from build logs and provide historical data. That would be useful to track alongside with zinc and rust changes.
- [x] Nightly builds
- [x] Stats collection
- [ ] Display/graph

[2014-05-08 14:01] #28 closed, assigned to nobody

[2014-05-08 16:27] farcaller opened #31 "Make sure all the asm! invocations are volatile"
llvm seems to toss around the assembly block unless it's volatile. Given that all asm! blocks must execute at the code point where they are defined, they all should be marked volatile.

[2014-05-09 01:51] bgamari opened #33 "Better register and bitfield support"
Currently the register macros do their job but not terribly well. Read/modify/write is an extremely common task, especially when modifying a single bitfield within a register, yet this task is rather painful with the current interfaces.

The mchck project has [shown](https://github.com/mchck/mchck/tree/master/toolchain/lib/mchck) that having bitfields represented in the type system makes code both

[2014-05-09 03:09] #33 closed, assigned to nobody

[2014-05-09 08:09] farcaller opened #34 "Logo for zinc.rs"
We need to bring up zinc.rs (apart from re-publishing readme, I think it would be a good place for #29). Here's a draft sketch:
![2014-05-08 16 07 01](https://cloud.githubusercontent.com/assets/693/2925719/01b505cc-d751-11e3-826e-d153af079f3e.png)

that can be further cropped to be used in a logo:
![screen shot 2014-05-09 at 09 05 51](https://cloud.githubusercontent.com/assets/693/2925722/127d38b6

[2014-05-09 09:59] #26 closed, assigned to nobody

[2014-05-09 10:14] farcaller opened #36 "Provide a better way to define peripheral configuration."
Interrupt issues in #24 could be easily solved if the interrupt table was specified statically, as part of user code. That, however breaks interrupt pin ownership and may result in broken configuration.

I think it's reasonable to follow rust pattern and do now allow user an easy way to misconfigure the hardware.

What I propose is something similar to [Linux device tree](http://www.devicetree.org

[2014-05-10 14:59] bgamari opened #37 "`Mutex` should be built on top of `Lock`"
As pointed out by @bharrisau in #11, it would be best if `Mutex` were built on top of more primitive building blocks like `Lock`

[2014-05-12 02:50] bharrisau opened #38 "Generate linker script from rustc AST output"
Moving the register memory addresses into rust (with `#[cfg()]` support). This is a first step in a better ioreg syntax extension #3.

Just running rustc with analysis pass and outputting the AST as JSON. Parsing with rake to generate the linker script for the configuration. Not sure the best way at the moment to do this; I think the syntax extension might create a metadata node (if that is even p

[2014-05-15 00:23] bharrisau opened #39 "Remove references to cast module"
Re: mozilla/rust#14069

transmute_mut_unsafe can be replaced with an 'as'.

[2014-05-20 22:35] #39 closed, assigned to nobody

[2014-05-31 08:41] bharrisau opened #45 "Include isr into main zinc rlib"
There are some issues with symbols going missing on OSX during linking (#41). Investigate and fix.

  - [ ] find source
  - [ ] submit fix
  - [ ] remove symbol stripping from Rakefile

[2014-05-31 08:44] bharrisau opened #46 "Fix script to submit statistics to travis"
Fix #44

[2014-05-31 11:03] #46 closed, assigned to bharrisau

[2014-05-31 14:45] farcaller opened #50 "Implement unit testing"
Metaissue for testing.
- [x] Get zinc to build with test
- [x] Add test support to Rakefile and travis
- [ ] Refactor inline asm (move to designated area, dummy with `fail!`)
- [x] Add testable `VolatileCell` (record-replay)

[2014-05-31 14:55] farcaller opened #51 "cmp::Eq is not visible after adding basic test harness"
After merging in #49, tests are now broken on travis, but still work with my local rustc d0b0f16:

[code]

[2014-06-01 03:55] bharrisau opened #52 "Add lint allow for snake case in ioreg macro"
Add `#[allow(non_snake_case_functions)]` to the macros.

[code]

[2014-06-01 03:56] bharrisau opened #53 "Replace instances of deprecated init()"
See build log.

[code]

[2014-06-01 03:59] bharrisau opened #54 "Decide on visibility for TaskCollections"
Either make the static private, make the type public, or allow the lint.

[code]

[2014-06-01 08:13] #51 closed, assigned to bharrisau

[2014-06-01 08:21] #52 closed, assigned to nobody

[2014-06-01 08:21] #53 closed, assigned to nobody

[2014-06-02 07:13] #12 closed, assigned to nobody

[2014-06-02 07:15] farcaller opened #56 "Port ioregs to procedural macros"

[2014-06-06 13:31] farcaller opened #58 "Tracking issue for buildbot"
This one tracks an automated build platform to run tests and do merges automatically.
- [x] set up daily rustc container refresh
- [ ] set up zinc sources pull on update (also PRs)
- [ ] make zinc compilable in "native" mode (the host is armv7l, there's no armv7-m stdlib; should look more into compiler-rt?; also required by #50)
- [ ] submit artifacts on successful build
- [x] merge PR on successf

[2014-06-09 12:05] farcaller opened #61 "Bors gets confused by several pending states from travis"
Hacked this away with https://github.com/farcaller/bors/commit/0f6423f67011241461c2f97c5743fac08c3c7e19 so far.

[2014-06-09 12:06] farcaller opened #62 "Bors should remove "ready for review label" on merged PRs"
As per label flow, after PR is merged, bors should remove "ready for review" label from it.

[2014-06-09 22:17] teachop opened #64 "Rename container as collections"
In chario.rs driver.

https://github.com/mozilla/rust/commit/50942c7695783875bd2161596036a52755ffb09c

[2014-06-10 07:16] #64 closed, assigned to nobody

[2014-06-13 00:28] bharrisau opened #66 "Get the stm32 build working again"

[2014-06-14 10:58] #36 closed, assigned to nobody

[2014-06-15 18:30] farcaller opened #69 "Set up test code coverage reports"
It seems that rust binaries can provide coverage data via kcov now that `-g` is fixed (https://github.com/mozilla/rust/issues/690). The problem is that kcov doesn't run on either OS X or Linux/arm hosts (the latter is similar to https://github.com/SimonKagstrom/kcov/issues/18), but works perfectly well on Linux/x86_64.

One option is to build coverage data on travis and then upload it to s3. it do

[2014-06-23 12:20] farcaller opened #72 "`-g` makes binary smaller"
Building at 42676463b01af7fec2abdb354bf140247fc968f4 with `-g`:

[code]

without:

[code]

[2014-06-23 13:04] #58 closed, assigned to farcaller

[2014-06-29 14:12] farcaller opened #78 "app_blink binary size increased by 6 bytes"
674df0d0142c9387fd409e2a30d2690d95bf051a increased binary size by 6+2 padding bytes, which is quite strange given there is no change in application logic.

[2014-06-30 16:52] #29 closed, assigned to bharrisau

[2014-07-03 01:13] bharrisau opened #82 "Set 'missing doc attribute' to deny for zinc.rs"
Force documentation or a compile error.
- [ ] drivers/dht22.rs
- [ ] drivers/lcd/c12332.rs
- [ ] drivers/lcd/mod.rs
- [ ] drivers/mod.rs
- [ ] hal and lib #118
- [ ] Remove warn for drivers

[2014-07-04 11:06] farcaller opened #85 "zinc.rs must provide size matrix for all the platforms"
After #81 is merged, http://zinc.rs/stats needs to be updated to start tracking stm32 binary sizes.

[2014-07-05 22:42] errordeveloper opened #91 "[discuss] I/O register access abstraction overhead"
The I/O registers are currently wrapped in macros that use a simple structure with `VolatileCell`. What I am wondering is how close is this currently to what one would get when doing the same thing in C? If it's pretty close, then it's certainly worse documenting, and otherwise communicating with Rust developers and see what can be done.

I suppose comparison should be on the basis of disassembly.

[2014-07-06 10:03] #91 closed, assigned to nobody

[2014-07-08 09:26] #56 closed, assigned to farcaller

[2014-07-08 09:46] #3 closed, assigned to nobody

[2014-07-14 07:02] #66 closed, assigned to nobody

[2014-07-14 16:58] farcaller opened #98 "Remove unwrap()s from user execution path"
Replace them with `expect()`s, or better, provide reasonable error handing.

[2014-07-14 16:59] farcaller opened #99 "Minimize the use of DUMMY_SP"
Error messages from PT are not that useful as most of them is based on DUMMY_SP.
- [ ] figure out how to provide spans for generated code
- [ ] clean up most (all?) of the `DUMMP_SP` uses

[2014-07-16 07:10] farcaller opened #106 "Remove libsupport"
Thank's to hacker news post I'm now aware of [rlibc crate](http://doc.rust-lang.org/master/rlibc/). This should replace a big chunk of code in support.
- [x] add dependency on rlibc crate
- [x] move other parts of support into libzinc and verify that it still works
- [ ] verify that binary size didn't increase for whatever reason

[2014-07-18 03:27] bharrisau opened #109 "Fix up K20 layout"
The Kinetis flash layout is more complicated on the devices than the layout.ld suggests. Here is an example from a different project I was working on (https://github.com/bharrisau/cmsis-freescale/blob/master/MKL25Z/Source/GCC/MKL25Z64.ld).

There is a flash protection section at 0x400 that needs to be treated carefully or else the device's flash can be permanently write protected.

Should also con

[2014-07-21 09:00] farcaller opened #115 "Cleanup any lifetimes that are not required"
[lifetime elision](https://github.com/rust-lang/rust/pull/15767) has landed, so we amy be able to remove a bunch of explicit lifetimes.

[2014-07-27 17:36] thehydroimpulse opened #117 "Analog components"
I just got a hold on the lpc1768 and the MMA7361 accelerometer and I'm just curious on the story of analog inputs in Zinc. Ideally there would be ADC support within the API.

I'd definitely send a PR to add more robust support if that's the need for it.

Thoughts?

[2014-07-31 15:44] #82 closed, assigned to bharrisau

[2014-08-03 19:34] teachop opened #123 "invalid byte sequence in US-ASCII"
I was getting the above error from deps.rb split of mod.rs due to 0xE4 in there.   Put this in to go past it as an experiment:

[code]

I was building on FreeBSD if that matters.

[2014-08-03 22:00] #123 closed, assigned to nobody

[2014-08-04 20:55] thehydroimpulse opened #124 "External apps?"
I'm just curious on if there's a standard procedure (other than copying one of the rustc calls that is currently being generated for the various apps in-tree) on having an external app/program outside the zinc source?

I don't know how far in the future it will be until Cargo could be able to handle this.

[2014-08-04 22:28] #124 closed, assigned to nobody

[2014-08-11 07:56] teachop opened #132 "Mismatched types rust nightly"
After updating to the rustc nightly...

[code]

[2014-08-13 08:29] #132 closed, assigned to farcaller

[2014-08-14 04:14] posborne opened #134 "Circular Dependency Detected with Rakefile?"
Hello All,

I am trying to get started with zinc but I am running into an issue with rake.  Here's what I am seeing:

[code]

Addditional Info:

[code]

I am not a Rake/ruby expert, but I would not expect all potential users of zinc to be either.

[2014-08-15 06:26] #134 closed, assigned to nobody

[2014-08-18 09:40] #38 closed, assigned to farcaller

[2014-08-27 07:53] dpc opened #139 "ioreg macro breaks with "wo" field."
Attemtping to use `wo` in the following case:

[code]

results in:

[code]

[2014-08-27 12:03] bharrisau opened #140 "ioreg should do an immediate write when all fields are `wo`"
There is no need for a read/modify/write cycle for registers where everything is write only.

Or?

[2014-08-28 00:11] bgamari opened #143 "app_empty shouldn't pull in platformtree yet?"
@farcaller, can we pull platformtree out of `app_empty` for now until we have slightly better coverage of other platforms? I often use `app_empty` to build test my `k20` work and at the moment I get undefined symbols due to lpc17xx references dragged in my `platformtree!`.

Alternatively given that `apps/` is temporary anyways we could just split it into `apps/lpc17xx`, `apps/k20`, etc. This might

[2014-08-28 00:32] dpc opened #144 "Add `hal/k20/watchdog.rs`."
It seems after a lot of investigation, my problems with Teensy board were related only to watchdog. I almost got it working, so I plan to add watchdog module. Would that be accepted? I plan to use new ioreg macros.

Is there anything I should know about before starting to work on something that could be merged?

[2014-08-28 01:34] dpc opened #146 "ioregs: field enumerations does not work."
I'm trying to get this to work:

https://github.com/dpc/zinc/commit/2b537ce84f2d34665c29624d20c139ca08b38b6a#diff-76fb405a406228f49ec4fac481c36bf4R46

but it produces compiler errors that make no sense.

[2014-08-28 01:43] #139 closed, assigned to nobody

[2014-08-28 01:50] #140 closed, assigned to nobody

[2014-08-28 01:54] bharrisau opened #147 "ioreg: Improve test coverage."
Need some more of these at some point.

[2014-08-28 10:46] #10 closed, assigned to nobody

[2014-08-28 11:14] bgamari opened #154 "Need a plan for managing multiple memory layouts"
It's often desirable to use different section layouts for the same hardware (e.g. one for the bootloader and another for user code). At the moment there is a one-to-one mapping between platforms and linker scripts. We need a plan for dealing with this. It'll also need to interact well with @bharrisau's Cargo work (#130).

[2014-08-28 15:18] bgamari opened #155 "Plan for multi-tasking and IO"
While there already exists the skeleton of a scheduler in Zinc we need to put a bit more thought into how this will integrate with the rest of the library. In particular, the interaction between concurrency and peripheral usage needs some consideration. Most applications of concurrency in embedded systems revolve around I/O.

There are a few schools of thought on how to frame IO in the embedded wo

[2014-08-28 16:32] #106 closed, assigned to nobody

[2014-08-28 17:33] farcaller opened #158 "Merging in support into zinc crate increased binary size"
As now visible on http://zinc.rs/stats, PR https://github.com/hackndev/zinc/pull/119 is to blame. This needs to be investigated as it's 10% size increase, so it's quite strange.

[2014-08-28 18:27] farcaller opened #159 "ioregs!() should not use morestack"
While building https://github.com/hackndev/zinc/pull/136 I've noticed that the test app doesn't build with `-O0` as `__morestack` is undefined for generated ioreg code. There is nothing in ioreg that would need to use stack, I suppose, so `#[no_split_stack]` should be dropped into prologues of generated functions.

Alternatively just wait until freestanding target is WAI.

[2014-08-28 19:56] bgamari opened #160 "ioreg: Trailing doc comments are broken"
I'm not sure how I missed this but trailing doc comment support is totally broken as the lexer doesn't treat `//=` as a doc comment, instead it just omits it from the token stream as it would a standard `//` comment. Not really sure what to do about this short of hoping trailing doc comments make it upstream into libsyntax or looking for a new syntax.

[2014-08-28 22:21] alexchandel opened #161 "Raspberry Pi support"
RPi is a pretty commonly held ARM board, support would allow lots of others to test zinc.rs. It would mean adding support for the Broadcom SoC that the RPi uses.

[2014-08-29 07:05] #161 closed, assigned to nobody

[2014-09-01 01:00] bharrisau opened #166 "Add cargo support"
This is to track the steps towards Cargo now that I've had a change to play with it on a branch.

- [X] Refactor folder layout #164 #167
- [ ] Refactor rake build folder
- [ ] Add separate rake tasks to build non-cargo deps (core, rlib)
- [ ] Refactor linker scripts, have rake copy selected script to build folder
- [ ] Add a zinc config file to specify target
- [ ] Develop target spec and cargo.to

[2014-09-13 18:40] btashton opened #169 "API Docs broken on website"
http://zinc.rs/apidocs/zinc/ returns 404.

[2014-09-20 15:27] escaton opened #172 "Fail to compile"
[code]

[code]

@catethysis

[2014-09-29 12:45] #172 closed, assigned to nobody

[2014-09-30 17:43] farcaller opened #173 "Doc comments macro expansion broken?"
[code]

however

[code]
compiles fine.

[2014-10-01 19:33] escaton opened #174 "Failed to compile #2"
Thanks to #172 we got rid of many errors but now we still have the other one:

[code]

[2014-10-01 19:40] #174 closed, assigned to nobody

[2014-10-04 23:18] escaton opened #175 "std::gc has been removed"
with latest nightly:

[code]

[2014-10-05 08:30] #175 closed, assigned to nobody

[2014-10-06 15:05] kvark opened #177 "Rename platformtree to platform_tree"
Also, the module to macro_platform_tree. This would be way more readable.

[2014-10-06 15:10] kvark opened #178 "Expand "pll" in platform tree"
It's surprisingly cryptic, given how led directions are verbose (for example): `{ direction = "out"; }`
Googling "pll" gives me the Pretty Little Liars show... not sure it that's what you meant.

All in all, there should be an agreement to not use any abbreviates in the platform configuration, unless they are chip names. Hence, "gpio" may need to be expanded as well.

[2014-10-08 12:03] farcaller opened #179 "Confirm PLL setup is correct by calculating the target_frequency"
Add an optional `target_frequency` value to clock config and verify the clock/pll configuration against it.

[2014-10-08 14:00] farcaller opened #181 "Provide macro for basic / recurring PT handler tasks"
Writing a PT handler must be much simpler then it is now.

[2014-10-08 14:00] farcaller opened #182 "Move k20 over to PT"

[2014-10-08 14:00] farcaller opened #183 "Move stm32 over to PT"

[2014-10-08 14:01] farcaller opened #184 "Demo code must be unified to work on all platforms"

[2014-10-09 11:53] kristofferkoch opened #186 "Compilation of app_uart fails on strip rust_begin_unwind"
Thanks for making zinc! I find the platform and ideas really exciting, and I'm working on trying to understand how zinc is put together and how to make nice things.

However, when compiling with `rake PLATFORM=lpc17xx build_all`, compilation fails at app_uart with:

[code]

I'm running on debian/unstable with latest rust.

[2014-10-13 10:48] #169 closed, assigned to farcaller

[2014-10-13 18:37] simias opened #187 "Proposal for simpler and more flexible register access methods"
Currently the "idiomatic" Zinc method for accessing registers is through the use of the ioreg macros to create a new type mapping the hardware register layout. Then those structs are mapped at the corresponding bus address through some linker magic.

In my opinion this approach is needlessly complicated and verbose.

I find that the ioreg macros are too unwieldy when a certain IP has many register

[2014-10-15 01:50] kvark opened #188 "Build failure: don't know how to build task 'default"
[code]

[2014-10-15 07:11] #188 closed, assigned to nobody

[2014-10-15 08:37] #187 closed, assigned to nobody

[2014-10-17 02:44] kvark opened #190 "Rename acronyms (GPIO) to camel case according to Rust guidelines"
Things like `GPIOIn` should be `GpioIn`, if I'm not mistaken.

[2014-10-19 19:45] farcaller opened #195 "Automated testing environment on real hardware"
A bunch of rtos code is hard to test without real hardware (e.g. https://github.com/hackndev/zinc/pull/194). Possible solution is to hook some board to CI (pyocd seem to be scriptable enough for that).

[2014-10-22 15:41] bgamari opened #207 "Idea for static configuration"
# An alternative to platformtree

Imagine there existed a trait,

[code]

and a syntax extension providing an attribute (let's call it
`compile_time`) which given a type definition derived an appropriate
instance. For example,

[code]

Finally, we'll want a function,

[code]

At this point we have something that could be used for compile-time
specification of configuration. The nice thing about th

[2014-11-01 15:02] 0xc0170 opened #212 "hal: K20 - Flash configuration field issue"
Hi,

I noticed the K20 device does not define any flash configuration. Some tools might ignore flashing the device or overwrite it to protect the chip.

Here's an example of the flash config I created, added to isr.rs for k20

[code]

And snippet from the layout.ld file:

[code]

The only way I made it functional was by adding it into k20 isr file (that file is linked separately which does the tri

[2014-11-01 15:28] 0xc0170 opened #213 "hal: scalability of targets, peripheral code reuse"
How is it with scalability and peripheral code reuse? Has there been any discussion (or any design document) this two topics?

Why am I asking:
1. Scalability - support for MCU families
2. Peripheral implementation reuse - different MCUs but contain the same peripheral. Like in mbed there's KLXX target https://github.com/mbedmicro/mbed/tree/master/libraries/mbed/targets/hal/TARGET_Freescale/TARGET

[2014-11-07 08:48] chrisdew opened #225 "STM32F429 compatibility."
Zinc supports the STM32F407.  I have an STM32F429 on an STM32F429I-DISCO discovery board.

What level of incompatibility would there be?  Just a couple of device tree changes or a week's work?

From their web pages http://www.st.com/web/en/catalog/mmc/FM141/SC1169/SS1577/LN11 http://www.st.com/web/catalog/mmc/FM141/SC1169/SS1577/LN1806 it looks like the F429 is an F407 with its USB OTG ports chopp

[2014-11-09 04:10] bharrisau opened #227 "Travis build broken"
Waiting for #18771. I was worried this was due to my changes to how we get the rust source, but it looks like rustc has mysteriously stopped giving the commit revision when the version string.

[2014-11-10 11:58] bharrisau opened #231 "Need a new way to get rlibc"
Removed from Rust tree as of rust-lang/rust#18625.

[2014-11-11 23:09] #231 closed, assigned to nobody

[2014-11-11 23:10] #227 closed, assigned to nobody

[2014-11-12 20:40] farcaller opened #235 "Let's drop rlibc dep"
Given that rlibc is a bit of a tricky dependency now and the only thing we care is 20 lines of memset/memmove code (and `__aeabi_memset` problem is back) I suggest that we drop rlibc in favor of returning mem\* code back to `support.rs`.

Your opinions?

[2014-11-14 12:55] chrisdew opened #236 "error: unknown codegen option: `no-stack-check`"
I'm just looking at Zinc for the first time.  I attempted to build it and got the error: `error: unknown codegen option: 'no-stack-check'`.

I've just downloaded and installed the latest Rust nightly, though rust -v says `rustc 0.12.0-nightly (a70a0374e 2014-10-01 21:27:19 +0000)` which confuses me.  Is that date the date that the nightly was built, or the date that 0.12.0 was released?

I also ha

[2014-11-14 13:00] #236 closed, assigned to nobody

[2014-11-14 14:11] #225 closed, assigned to nobody

[2014-11-14 14:19] chrisdew opened #237 "Using memory in Zinc, on LPC1768."
I understand that Rust code runs without garbage collection and other conveniences in Zinc.
- Does this mean that all memory allocation must be done on the stack?
- Is there any form of heap, with `new`/`free`?
- Is there a way to tell how much free memory there is (on the stack)?
- Is there a way of addressing particular addresses in RAM, and finding which addresses are RAM?
- The LPC1768 has its

[2014-11-14 14:42] #237 closed, assigned to nobody

[2014-11-14 15:05] #213 closed, assigned to nobody

[2014-11-14 20:05] #212 closed, assigned to bgamari

[2014-11-17 15:01] chrisdew opened #239 "Using uart from outside of "run"."
First, apologies for not using a mailing list - I've searched (in-page) for "mail" in https://github.com/hackndev/zinc and http://zinc.rs/ but found nothing.

I'm trying to use the `uart` (and other `run_args`) from outside the `run` function.

Adding just a small quantity of code:

[code]

to the app_uart.rs causes it to fail to compile with:

[code]
- Is there something magic about `run_args`, o

[2014-11-17 15:33] farcaller opened #240 "Fix communication links on zinc.rs"
as reported in #239.

[2014-11-19 10:56] #239 closed, assigned to nobody

[2014-11-24 00:14] #146 closed, assigned to nobody

[2014-11-24 00:56] #144 closed, assigned to nobody

[2014-11-26 15:05] kvark opened #249 "Add a feature matrix to the wiki/readme"
We could have a matrix with MCUs as rows and features (PlatformTree, Clock, Uart, Spi, etc) as columns. It would show the current state of things, similar to how Gallium [does it](http://xorg.freedesktop.org/wiki/RadeonFeature/).

[2014-11-26 15:08] kvark opened #250 "Remove CharIO in favor of `FormatWriter` and `write!` in `core`"
This has been discussed a little, and we should investigate more for sure. I just don't know why `CharIO` is needed exactly. For my purposes of debug output via UART, the `write!` macro with `FormatWriter` implementation works perfect.

[2014-12-04 01:50] awelkie opened #252 "build_docs failing"
running `rake PLATFORM=lpc17xx build_docs` fails with

[code]

obviously, rustc is looking for the x86_64 version of rlibc, which isn't being built.

[2014-12-07 08:08] whitequark opened #255 "Provide instructions for cross-compiling compiler-rt"
I came up with [this platform config](https://gist.github.com/whitequark/1151208c32def7367b2d), based on clang_macho_embedded. Place it into `make/platform/thumbv7m.mk` and then run `make thumbv7m`.

[2014-12-13 01:19] 0xc0170 opened #257 "Nightly fallout"
Creating an issue to track this.

[code]

I'll look at this to see if I have enough powers to make it green again :blush:

[2014-12-16 12:15] aethaniel opened #259 "CMSIS-SVD to ioreg list conversion tool"
Hi,
I'm totally rookie in Rust and Zinc but I'm really interested in this project for many reasons.
I would like to know if there is a need and/or a plan to convert CMSIS-SVD public files of various Cortex-M devices to a list ioreg macros?
If the SVD format (with or without complementary information like PDSC files) is suitable for such conversion, it could allow some community 'enablement' on lot

[2014-12-16 20:50] #257 closed, assigned to nobody

[2015-01-13 15:35] farcaller commented on #235
For the reference, https://github.com/hackndev/zinc/pull/271 moves librlibc into the tree via https://github.com/farcaller/zinc/commit/89ed470118865bdebe147f8b3639f11fa127c027 to make it work.

[2015-01-14 18:31] farcaller opened #272 "Verify that trait hashing still works as expected"
Namely, this: https://github.com/farcaller/zinc/commit/0ae08de2997b88d921a7fd353ab9e20b84d4e5d2

[2015-01-14 18:32] farcaller opened #273 "Verify why double unwrapping and pointers are used"
https://github.com/farcaller/zinc/commit/8900158be89ecc10059effca1583d30b5d968e84 introduces some strange syntax.

[2015-01-14 18:32] farcaller opened #274 "Verify expr_64 in ioreg unions works as expected"
Based on this change https://github.com/farcaller/zinc/commit/a9c4fda08aae357d44fb2d12a6b86a60e675e7f2 the method is either broken or should be renamed.

[2015-01-30 10:16] photex opened #275 "stm32f2, aka Cortex M3, aka Pebble Watch!"
Hello,

I just ordered a pebble (http://getpebble.com) and I'm interested in using Rust with their C SDK and toolchain. The chip in the watch is the stm32f2 which is an ARM Cortex-M3. I see in platform.yml that there are other chips listed from ST. My question is what's the best way for me to try and add support for this in zinc? The wiki doesn't have a guide for that. Should I just start posting

[2015-01-30 10:27] bharrisau commented on #275
Zinc is really for bare-metal work (e.g. writing the pebble operating system). It looks like the pebble API provides some C functions (https://developer.getpebble.com/docs/c/group___standard_memory.html), I haven't had a big look, but it might be enough to use standard Rust.

Either way, zinc probably isn't needed as the pebble OS handles talking to the hardware.

[2015-01-30 10:30] photex commented on #275
Ah, ok well, that makes things a little easier for me!

[2015-01-30 12:03] 0xc0170 commented on #275
Agree with @bharrisau, use C API they provide. I had similar questions in the beginning, use the mailing list for questions or find us on IRC

If you find this as answered, please close it.

[2015-01-30 12:05] photex commented on #275
Meant to close this the last time. :) Big green buttons are difficult to avoid clicking!

[2015-01-30 12:05] #275 closed

[2015-02-17 23:11] rnestler opened #276 "Build fails with errors"
When I tried running
`rake PLATFORM=lpc17xx build_all`
I got some errors: https://gist.github.com/rnestler/ad705dd5542083a77d33#file-first
[code]
I could fix that one by using e2261b641d8634ed22688273cb0091c5cca785fa but I'm just getting more errors:
https://gist.github.com/rnestler/ad705dd5542083a77d33#file-second
[code]
Am I using a wrong version of rustc?
[code]

[2015-02-18 02:27] bharrisau commented on #276
Does it build if you remove `.get()`? Looks like `.get()` was recently
replaced with a `Deref` impl.

[2015-02-20 14:16] awelkie commented on #276
What version of rustc is Zinc targeting? I haven't been able to get Zinc to build with rust nightlies for a few weeks now.

[2015-02-20 14:49] farcaller commented on #276
It is supposed to target nightly, but I think most of us got too frustrated
with rustc breaking every second day. I'm personally taking a timeout until
1.0, prototyping more of the platform tree in ruby now :-)

On Fri, Feb 20, 2015 at 2:16 PM, Allen Welkie <notifications@github.com>
wrote:

--
Sincerely,
Vladimir "Farcaller" Pouzanov
http://farcaller.net/

[2015-02-21 23:34] rnestler commented on #276
@bharrisau
Removing all the `.get()` worked.
But now I get a
```error: Field target-pointer-width in target specification is required```

[2015-02-21 23:38] bharrisau commented on #276
Closing this. See #277

[2015-02-21 23:38] #276 closed

[2015-03-15 19:12] SimonKagstrom commented on #69
kcov should work better with rust since a few commits back (by Kang Seonghoon), and while I very irregularly test ARM support, there was a few fixes to get it working a few months ago (albeit with very limited testing).

And kcov actually supports coveralls.io as well these days, basically just run it with '''--coveralls-id=$TRAVIS_JOB_ID''' from the travis build script.

[2015-03-15 19:43] farcaller commented on #69
Yup, I tested the functionality today and it works just fine for us. Thanks for pointing out coveralls integration, that sounds very useful.

[2015-03-18 18:00] ekiwi opened #282 "The attribute `phase` is currently unknown to the the compiler and may have meaning added to it in the future"
Hi,

zinc does not build with the latest rustc. The error message is the following:

[code]

Check out the latest travis ci build from my fork which only has one commit that adds one white space to the README file in order to get travis to build zinc.

https://travis-ci.org/ekiwi/zinc/builds/54901512

I'm new to rust, so I have no idea what this error message is about, but I'm sure someone who kno

[2015-03-18 19:13] farcaller commented on #282
yup, this is known. The bigger issue so far is that `quote_method!()` is gone, breaking good part of ioreg, I'm working on it.

[2015-04-11 21:09] geraldstanje opened #283 "arm question"
Hi,

is arm cortex a9 bare metal supported?

Thanks,
Gerald

[2015-04-12 20:42] farcaller commented on #283
Zinc can technically run on anything that is supported by rustc, which includes cortex-a cores. There is no support for any cortex-a9 chips in the works though.

While cortex-a cores can usually run things like linux and require more complex init sequences, I'm not entirely against adding bare metal cortex-a support into zinc in the future.

[2015-05-10 10:52] andrey-gvrd opened #284 "Project status"
So, what's the status of the project right now?

I've noticed that there has been a period of silence for some time now. Are there technical issues with zinc, or is it the luck of contributors, or something else entirely?

[2015-05-11 03:26] posborne commented on #284
I too am curious as to the current status.  I have some supported hardware (LPC1768 and kit; teensy 3.1) am would be willing to donate some time if the project has a moderately clear direction.  If not, what is the general consensus on the best approach for Rust on embedded micro-controllers?

[2015-05-11 07:06] farcaller commented on #284
Here's the current state of things.

Zinc is mostly based around transformation macros: ioreg and platformtree, it also depends on too complex and barely scalable build system written in ruby (which is broken right now). I think it's a bit more than a year now since I'm writing this project, and it satisfied my curiosity in terms of what is possible to do on bare metal with rust, and now it surely

[2015-05-11 17:47] bgamari commented on #284
I, for one, have been busy finishing my thesis, moving to Germany, and starting a new job. If it weren't for this I'd be trying to get `ioregs!` building.

[2015-05-13 05:32] posborne commented on #284
Ah, looks like @mcoffin is off to the races on his fork: https://github.com/mcoffin/zinc/tree/new-build.  I was able to build the ioreg crate on his tree.  I'm thinking much of the work done by @bharrisau may still be relevant for item 2: https://github.com/hackndev/zinc/pull/219/files

[2015-05-13 06:22] mcoffin commented on #284
@posborne Haha. I'm glad someone noticed. Unfortunately, that version of the ioreg crate is pretty freaking broken, so I'm getting the tests back up and running before I do too much more with it.

It's not too bad converting the tests over to just manual tests from the shiny test platform which no longer builds (and I think it'd be less work to just port the tests rather than fix the tiny build).

[2015-05-13 07:25] farcaller commented on #284
Shiny is broken because I expected to move over to stainless, that has more features. But now stainless is broken too :tired_face: Should just fix shiny I guess.

[2015-05-13 07:30] mcoffin commented on #284
Also: if anyone wants to figure out whats wrong with the super basic test in https://github.com/mcoffin/zinc/tree/new-build I've been kinda banging my head over it. There's some error in the AST builder I'm pretty sure.

It was probably introduced when `quote_method!` was changed to `quote_item!`.

[2015-05-13 21:39] mcoffin commented on #284
If anybody still cares, my version of ioreg now builds and passes all of its old unit tests!

Here is a hardlinked version, since I'm going to be doing more iterating and you probably want a semi-stable copy if you want to use it for something. mcoffin/new-build@69a60628300bd78dcd200588cd7a53376ed80e21

[2015-05-14 13:30] Arnold1 commented on #283
how much effort is it to add those support?

[2015-05-14 14:03] farcaller commented on #283
There is a very big amount of various Cortex-A cores, so it's a very hard target for zinc. What features would you like to see in Cortex-A code?

[2015-05-14 14:14] Arnold1 commented on #283
GPIO/s, shared memory access to the FPGA logic by adding some interrupt logic

[2015-05-16 15:46] posborne commented on #284
@mcoffin, I'm trying to get  your stuff built and am having trouble linking against libcore.  That led me down a rabbit hole that I think @bharrisau has been down before of...

1. Using a crate for libcore (which is not supported in upstream): https://github.com/bharrisau/rust-libcore/pull/1
2. Forking rlibc to depend on the libcore crate explicitly: https://github.com/posborne/rlibc/tree/test-lib

[2015-05-16 19:08] mcoffin commented on #284
@posborne The depth of that rabbit hole is one of the reasons I chose to build libcore out of tree.

With the new build system, I wanted to make it as much just like a regular Cargo package as possible, with only a little Makefile on the top to close the gap. That way, it'll be more maintainable and easier to approach for someone that's new.

In a "normal" Rust compilation environment, a version o

[2015-05-16 20:52] mcoffin commented on #235
For those following the most recent development, the new build system in [mcoffin/new-build](/mcoffin/zinc/tree/new-build) takes librlibc back out of tree by switching to a cargo-based build system.

[2015-05-16 21:35] mcoffin commented on #282
FWIW, this is fixed in [mcoffin/new-build](/mcoffin/zinc/tree/new-build) and should work once my changes there get pulled (I'll open a PR when the build system is a little more complete).

[2015-05-17 02:19] bharrisau commented on #284
a project... as that's part of an expected environment.

You actually end up needing to build libcompiler-rt as most cortex-m
toolchains only give you a libgcc. Just one more thing I had trouble making
a create for.

Now that 1.0.0 has landed I'll try to spend some time on Zinc. Thanks to
everyone that has kept the ball rolling in the last few months.

[2015-05-22 04:51] posborne commented on #284
I would really like to see zinc master be something that can be used by people interested in Rust again, particularly in the embedded space.  I think the work that @mcoffin has done that is open for review at https://github.com/hackndev/zinc/pull/285 is our best shot at moving things forward.  It just needs some review from the core team.

As far as those changes on the plan proposed by @farcaller

[2015-05-22 07:31] mcoffin commented on #284
Just to stress this point, the only thing that autotools does in that branch is generate an mcu-specific `<mcu>.json` file with the correct linker (detected by autotools just as if you were cross compiling for `arm-none-eabi`) and generate a Makefile that just runs objcopy on the executables from cargo.

To build a project that depends on zinc, you would just have to:
* Get a copy of zinc and run

[2015-05-25 15:20] bechamp commented on #283
This would be nice to see. @farcaller, can you quickly outline at a high level what would be needed by zinc to support the Zynq SoC?

[2015-05-25 15:46] bechamp commented on #283
Just a clarification to my above comment, what I mean is: in general, what does zinc need to support a platform? Given that I can figure out the Zynq specifics...

[2015-05-25 23:33] bharrisau commented on #283
Like most things, zinc has layers:

Layer 1 is the toochain. You need for the Rust output to run on the device. This is left to you, but we can help with any changes to the Zinc build system.
Layer 2 is the processor core. In this case, ARM Cortex-A. This will live in `src/hal/cortex_a_xxxx` and needs to contain functions for interfacing with the special function registers (SFR) on the core.
Layer

[2015-05-25 23:38] bharrisau commented on #283
And for completeness, there is also a layer of Zinc utilities.

[2015-05-26 02:04] bechamp commented on #283
Thanks Ben, good overview. its nice to give each board a crate. Those could grow as large as they want. Now that I understand the layout a bit, I'll have a better time digging around.

[2015-05-28 09:16] mcoffin opened #286 "RFC: Generalize platformtree (generalized_platformtree)"
* Feature Name: `generalized_platformtree`
* Start Date: 2015-05-28

# Summary

Allows construction of a platformtree with no additional macro code for each platform.

# Motivation

As of right now, to get `platformtree` to be supported on a  platform, a significant amount of macro/plugin code must be written. This is undesirable as this code is a maintenance liability with regards to platform cod

[2015-05-28 09:59] mcoffin commented on #286
Crazy idea afterthought: If all checking could be implemented with a lint pass alone, one could almost get rid of the `platformtree!` macro entirely...

[2015-05-28 23:10] mcoffin commented on #286
I wrote this waaaay to late at night. Needs more thought. Closing for the time being.

[2015-05-28 23:10] #286 closed

[2015-05-29 01:13] bharrisau commented on #286
A precursor to this is deciding where the mapping from board to periperals occurs. i.e.
- Teensy 3.1
  - MK20DX256VLH7
    - Cortex M4
    - Freescale peripheral A, B, C, etc
  - Pin map to board labels

Then when the end user says "I have a Teensy 3.1, I want a uart on pin 0, and the led activated", Zinc knows what version of the UART HAL to use, which pins are able to be used, etc.

[2015-05-29 01:38] posborne commented on #286
Good thoughts.  I agree with @bharrisau that figuring out where to define "boards" (and give users the ability to provide boards) will live.  With device tree in the kernel, this is handled via somewhat ad-hoc via inclusion of dtsi (device tree source includes).  Typically a silicon vendor will define a bunch of stuff, most of which is marked as disabled.  Board/SOM providers will then build on th

[2015-05-29 02:28] bharrisau commented on #286
Additional thought, we can avoid the need to maintain a parser if we use the `MetaItem` parser.

    #[zinc_main(teensy_3_1,
                clock(in(main, 12_000_000), out(pll, m=50, n=3, d=4)),
                timer(1, counter=25, divisor=4),
                gpio(teensy23, out),
                someVendorPeripheral(xxx, yyy))]
    fn main(clock: ZincClock, mytimer: ZincTimer, led: ZincGPIO, spec

[2015-05-29 02:38] bharrisau commented on #286
I'll start a wiki entry for the Zinc init process, as that needs to be defined first.

[2015-05-29 07:03] jayrandez commented on #284
Hi people,

I'm familiar with ARM platform, but not so much with Rust. What exactly does the platform tree provide? I don't really understand what is meant by compile-time verification of hardware.

Also, is it still possible to reconfigure the hardware during runtime?

[2015-05-29 10:22] farcaller commented on #286
That looks more like a hack and you can hardly provide same error reporting in this case.

[2015-05-29 16:30] mcoffin commented on #286
So I've actually been experimenting with just using a lint plugin and then checking every struct expression against each other to make sure you don't every define a conflicting `PinConf` struct... anywhere. It actually feels pretty slick.

[2015-05-29 18:25] mcoffin commented on #286
Ok, so, what if we just allowed the user (or zinc) to define boards by defining some simple `const` traits on Conf structs.... for example, if we take the syntax of platformtree from above...

[code]

That would let the user decide whether to use the board mapping style or that of the MCU, which I imagine would be rare, but at the very least handy for examples. This is an example expansion of the

[2015-05-29 19:04] farcaller commented on #286
That's [how it used to work](https://github.com/hackndev/zinc/blob/61c5646b4ade587c217a783593ee80ce8bed9f16/src/boards/mbed_lpc1768.rs), actually?

[2015-05-30 01:39] mcoffin commented on #286
Why exactly did the project choose to move away from that?

While we don't have a 1:1 mapping between platformtree keys/values and something in rust, there will **always** be lots of platform-specific parser-related code (I think).

[2015-05-30 05:21] posborne opened #287 "Document use of debugger when using Rust/Zinc"
I haven't tried it as of yet but I think there are ways for a GDB server to be set up for devices which exposes debug probes via JTAG/SWD (via, e.g., Segger J-Link) or CMSIS-DAP.  Since this is something that many embedded developers rely heavily on for regular development, I feel it would be useful to add a Wiki page or similar with pointers on how this can be made to work on a few different MCUs

[2015-05-30 12:56] awelkie commented on #286
The current implementation of `const fn` doesn't allow for `const` implementations of traits, so you'd have to wait for full CTFE to land before you can do exactly what you propose (see the `const fn` [proposal](https://github.com/rust-lang/rfcs/blob/master/text/0911-const-fn.md) for details)

But once CTFE does land, could we do something like the following:

[code]

Then the user would just do s

[2015-05-30 12:57] awelkie commented on #286
Also, what do you mean when you say there isn't a 1:1 mapping between platformtree and rust? Could you give an example? Does this mean platformtree will always need to be a syntax extension?

[2015-05-30 17:18] farcaller commented on #286
The reasoning was that back at that time such structs could sometime pollute the .rodata and their only use was to create a bunch of other structs. As I later started to consider power planes and hardware re-init, PT started to actually shape back to those structs.

CTFE would really help with the messy macro approach.

[2015-05-30 18:02] farcaller commented on #287
I've tested lpc board with [pyOCD](https://github.com/mbedmicro/pyOCD) and gdb, and stm with openocd. In fact, good documentation about hw debugging is a nice idea, as I managed to spend unreasonable amount of time figuring it out. Specifically [this post](http://bgamari.github.io/posts/2014-08-23-swd-with-busblaster-and-openocd.html) of @bgamari was very useful.

[2015-05-31 00:45] mcoffin commented on #286
Hmmm.. Maybe related?

https://github.com/rust-lang/rfcs/blob/master/text/0911-const-fn.md

[2015-05-31 01:54] Arnold1 commented on #283
awesome  zinc seems to build with nightly....

Any news about very basic arm corex a9 support?

[2015-05-31 19:06] posborne commented on #287
Thanks for the pointers @farcaller.  I got things kinda working under Linux with the latest release of OpenOCD, but it was extremely slow and buggy.  I had better luck with pyOCD (for CMSIS-DAP at least).  I have tested that from GDB and Eclipse.  The [EmbSysRegView](http://embsysregview.sourceforge.net/) plugin when debugging is very convenient as you can see all the peripheral registers for your

[2015-05-31 19:20] 0xc0170 commented on #287
@posborne can you elaborate on that pyOCD? Or rather create an issue in pyOCd repo, if there's something we can improve.

I'll be happy to read that document once it's done!

[2015-05-31 19:58] posborne commented on #287
@0xc0170 No problem.  I am working on some changes now and will submit a Pull Request with a start to things when ready.  Here's what I think will improve things starting out:

1. Make setup.py declare requirements for each platform using `install_requires`
2. Add entry point for scripts (like GDB server)

With these two things in place, installation should be as easy as the following (on all plat

[2015-05-31 20:15] posborne commented on #287
I've started a page here: https://github.com/hackndev/zinc/wiki/Debugging-Zinc-Code-with-GDB-and-Eclipse.  It isn't complete yet and I'll continue to improve it later today.

[2015-05-31 20:25] farcaller commented on #287
@posborne this is actually a bug, binaries are expected to be always built with those (as the bin/hex is stripped). Can you file a bug, or, better, a PR?

[2015-05-31 21:22] mcoffin opened #289 "Travis should attempt to build examples for the given platform."
Travis currently only builds and tests all the libraries. Linker errors, problems with link scripts, etc are all invisible to travis builds currently. Travis should build the examples for the current platform.

I didn't implement this originally because I"m not that experienced with travis and couldn't think of a good way to have it only build *only* the examples for the **current platform** at th

[2015-05-31 21:38] farcaller commented on #289
The simplest thing that comes to my mind is to have an env variable specifying the proper example names for each platform.

[2015-06-01 00:13] #289 closed

[2015-06-01 05:59] posborne commented on #287
@0xc0170, I've opened a PR against pyOCD that should greatly simplify installation and use of pyOCD for both library and executable (gdb server) users: https://github.com/mbedmicro/pyOCD/pull/149

[2015-06-01 06:12] mcoffin commented on #282
Fixed with the landing of #285

[2015-06-01 06:12] #282 closed

[2015-06-01 06:24] mcoffin commented on #190
A good amount of this was fixed in #208.

A quick grep showed that the only remaining problematic type is `MOSCFreq` in `tiva_c/sysctl.rs`.

[2015-06-01 06:37] mcoffin commented on #45
It turns out that this is due to people using the system `ar` on OS X. autotools now detects the right AR and puts it in `.cargo/config`. Therefore, this was fixed with the landing of #285.

[2015-06-01 06:38] #45 closed

[2015-06-01 06:55] mcoffin commented on #166
Closed by the landing of #285, a cargo based build system.

[2015-06-01 06:55] #166 closed

[2015-06-01 07:16] mcoffin opened #295 "ISR vectors not linked when NOTHING from zinc crate is used."
If an application uses **nothing** from the zinc crate, then the ISR vectors will not be linked, despite the `KEEP` directive in the linker script.

[2015-06-01 07:17] mcoffin commented on #143
A perfect time to do this would be when #288 lands.

I would just make it a part of that PR, but there's an issue with linking when no parts of the zinc crate are actually used (#295).

[2015-06-01 07:19] mcoffin commented on #295
For app that uncovered this, see `app_empty` from mcoffin@b9a9d4fdfdd7df09ffa0513ea54784acca283dd0

[2015-06-01 07:42] bharrisau commented on #295
I'd prefer to move ISR vectors to PT and zinc_main macros. We currently
simplify things by saying all k20 have the same ISRs, but they really
don't. Even in the same speed grade the peripherals change.

I'll do up a JSON device and board definition for a Teensy and see how that
feels. The makefile or build.rs would ideally also use that info when
creating the linker script, as we again just simpli

[2015-06-01 08:16] mcoffin commented on #295
:+1:

[2015-06-01 08:46] mcoffin commented on #295
@bharrisau Actually, neither of those macros are a good fit. `platformtree` can't be used in non-platformtree examples and the `zinc_main` annotation cannot be used from within platformtree as it's entire purpose is to define a dummy `#[start]` implementation for those who aren't using platformtree.

If we're going to take the macro-based approach instead of the linker-based approach, then what we

[2015-06-01 09:09] mcoffin commented on #252
Fixed by #285 and mcoffin/rlibc@ 8cb879f9f8b67444fb9f55db5592c2112147c13e

The command `cargo doc` has replaced the old `build_docs` target from rake.

[2015-06-01 09:11] #252 closed

[2015-06-01 09:46] mcoffin commented on #295
One way we could solve that problem is by doing something like the following hack...
[code]

[2015-06-01 09:51] mcoffin commented on #173
This is fixed now, right? Sorry, trying to clean out the icebox on waffle so we know what really needs work.

[2015-06-01 09:53] farcaller commented on #295
We can also make a little dedicated macro to just build the isr table.

[2015-06-01 09:53] farcaller commented on #173
Yup, looks good.

[2015-06-01 09:53] #173 closed

[2015-06-01 09:54] mcoffin commented on #295
Well, that's what `zinc_board` would be. Maybe a better name would be `zinc_isr`.

[2015-06-01 10:16] #143 closed

[2015-06-01 10:35] farcaller opened #297 "RFC: static vs dynamic dispatch"
I'd like to bring up the discussion on traits once again. Most of RTOSes I'm aware of that have any kind of HAL tend to use dynamic dispatch via function pointers to make the abstraction work with one notable exclusion being TinyOS, that uses a specific superset of C — nesC to make compile-time components binding possible.

In reality, it makes very good sense to use static dispatch as chances are

[2015-06-01 11:03] mcoffin commented on #297
Ok, so I see a couple of problems here that could be causing all this complexity:

Drivers are borrowing their components, not owning them (unsafe? right?). This means that they're parameterized on lifetimes. If drivers own their components (as I think they should... as then instantiating 2 drivers with the same gpio pin will result in a compile time error without platformtree having to check it m

[2015-06-01 11:17] mcoffin commented on #283
@Arnold1 I don't think anybody is working on it right now, but as always feel free to start it!

[2015-06-01 12:10] farcaller commented on #283
Let's clarify terminology once again.

Cortex-A9 is a computing core along with a very little set of peripherals (systick timer and MMU). It is somewhat different from the cores currently supported in zinc (Cortex-M0, M3 and M4), but not very different for adding support to be unbearable.

Different MCU vendors incorporate ARM cores in their products, e.g. Raspberry Pi 2 has a BCM2836 CPU featurin

[2015-06-01 13:30] bechamp commented on #283
Hi Vladimir,
Xilinx's Zynq is actually a full dual core A9 SoC with USB, gpio, Ethernet,
and many other peripherals on die. Also on die is the fpga which you can
have the processor subsystem populate on boot with a custom design (say a
specific HW accel function your app needs). You can then call that function
from C code. It would fit Zinc as far as the processor system is concerned
which is why

[2015-06-01 13:39] farcaller commented on #283
Ah, makes more sense then. Given that, the support plan would be the same as with other platforms, add support for any boot requirements for CPU, then add peripheral drivers. The issue with latter is that Platform Tree has a big chance to get a redesign, and we don't have good `trait`s defined for peripherals, really.

[2015-06-01 13:53] Arnold1 commented on #283
@farcaller thanks for the reply. could you make a basic template e.g. platform tree as a start implementing the support for arm cortex a9? maybe @bechamp whats to join in some work too...

[2015-06-01 16:34] farcaller opened #303 "Refactor zinc crate to support native build"
As of now it's not possible to build zinc crate as it uses arm assembly. Still, zinc contains lots of code that would be interesting to unit test and validate coverage.

The proposed solution is to extract all machine-dependent code into new file hierarchy, namely `arch/`, and allow that to depend on feature flags.

Actual mcu code should be buildable for native arch as it's expected that it would

[2015-06-01 22:11] mcoffin commented on #303
Compiling the zinc crate natively works fine for me? `cargo test --lib --verbose`.

It won't work of you enable one of the platform features, as that will enable that ISR vector code for that platform (and therefore some assembly). Note that the stuff in `hal/platform` is not gated behind `#[cfg(feature = "platform")]` and can therefore be unit tested if you can find a way to get it to use dummy r

[2015-06-01 22:13] farcaller commented on #303
That's for test only, no? I mean, compile the dylib/rlib of zinc for native target.

[2015-06-01 22:14] farcaller commented on #303
Also, #302 will sort out the dummy registers part.

[2015-06-01 22:35] bharrisau commented on #303
I think the `#cfgs` for the asm code is currently just for tests. But
moving all of the unsafe ASM to a separate mod and documenting it (so we
don't get asm popping up everywhere) would be a good thing for hygiene.
On 2 Jun 2015 6:14 am, "Vladimir Pouzanov" <notifications@github.com> wrote:

[2015-06-01 23:02] bharrisau commented on #54
Stale issue.

[2015-06-01 23:02] #54 closed

[2015-06-01 23:21] mcoffin commented on #303
@bharrisau Regarding what you said in #305, i think a decent solution might be to come up with a system like rustc's "lang items". Then, i would agree, `#[cfg(...)]` to import the right impl (maybe within some `intrinsics` mod?)

[2015-06-01 23:30] mcoffin commented on #286
@awelkie When I said there's no 1:1 mapping between PT and rust code, I meant that every object in the platformtree doesn't necessarily have an equivalent in rust. For example, take the `gpio` PT code from the `blink_pt` example...

[code]

What exactly would the `gpio` object map to? Well, it maps to the collection of all GPIO peripherals on the lpc17xx board. There is no such abstraction in zinc

[2015-06-01 23:38] mcoffin commented on #235
This is still a minor PITA and requires [maintenance](https://github.com/mcoffin/rlibc/commit/8cb879f9f8b67444fb9f55db5592c2112147c13e) of a fork of rlibc that defines our libcore as a dependency for any non-standard targets.

[2015-06-01 23:41] mcoffin commented on #286
Note for self: related #207

[2015-06-02 16:00] farcaller commented on #303
would be nice, but the only way to implement something like it, as far as I know, is to have a stable path and `pub use` the `#[cfg]`-guarded version into it.

[2015-06-02 18:08] posborne commented on #287
Initial documentation is now present, though limited to CMSIS-DAP debugging with pyOCD.  I'm closing this for now and we can add details later as people debug with new probes, etc.

[2015-06-02 18:08] #287 closed

[2015-06-02 21:38] mcoffin commented on #99
Mentioned in #298 already but for anyone that finds this...

Created lint plugin for checking for the usage of `DUMMY_SP` in syntax extensions.
https://github.com/mcoffin/syntaxext_lint

[2015-06-03 00:13] awelkie opened #306 "queue code doesn't compile"
After taking out the `#[cfg(cfg_multitasking)]` in `src/util/mod.rs`, `queue.rs` fails to compile.
[code]
It just looks like code rot Is there any reason to keep that `cfg` around?

[2015-06-03 00:38] mcoffin commented on #306
That `#[cfg(...)]` attribute should be moved to a cargo feature, but should be kept around if you don't want the scheduler.

The rest is code rot due to the instability of libcore. Much of the scheduler is pretty broken from what I gathered from #284.

[2015-06-03 03:28] posborne opened #308 "Add support for the Freescale KL25Z (KLxx)"
I have a few KL25Z FRDM boards laying around and think it would be an interesting board to add as it has a Cortex M0+ rather than an M3/M4.  The FRDM board from freescale can be bought for $12.95 and includes a few extra peripherals on board that are nice for testing.

Notes

* MCU: MKL25Z128VLK4
* On Board Peripherals:
  * MMA8451Q - 3-axis accelerometer (I2C)
  * PWM Controlled RGB LED
  * Capac

[2015-06-03 07:05] 0xc0170 commented on #308
Yes, you can go generic as in mbed those KLxx, although they differ at least in spi as I recall, and there are newer KLxx devices which contain a bit different serial, spi and I recall there's at least one "new" peripheral for serial communication.

I was planning a while ago to add KL25Z, I might help you, to get back to rust :smile:

[2015-06-03 07:22] bharrisau commented on #308
You have a couple of levels to thinl about. The peripherals are usually 90%
the same, some optional features and different capacities result in
additional registers. I'm still not sure the best way to deal with these
minor differences in peripherals.

Then you also have the system controller that controls the clock for each
peripheral. This changes depending on which peripherals are around. This
w

[2015-06-04 21:24] farcaller opened #310 "Coverage makes little sense"
[Coverage data](http://ci.zinc.rs/job/zinc/23/PLATFORM=native/cobertura/) has little insight on files that weren't used in testing, giving out silly result of 93% covered when it's closed to 7% covered.

One way to fix it is to expand cobertura.xml with all the missing files from relevant subdir. Those should not include lines with comments or empty lines; actual coverage is even more small, but t

[2015-06-05 15:21] Arnold1 commented on #283
any feedback on this @farcaller @bechamp ?

[2015-06-05 15:27] bechamp commented on #283
Hi, trying to get hands on a board through work before committing. Also new
to rust so I'm still trying to get my head around the platform trees. This
won't be a one weekend project for me alone but definitely interested. Do
you have a board?

On Friday, June 5, 2015, Arnold1 <notifications@github.com> wrote:

[2015-06-05 15:30] Arnold1 commented on #283
yes i have a board.

[2015-06-05 15:32] bechamp commented on #283
Which board?

Also have you gotten vanilla rust to cross compile for it already? because
if not then we don't need the boards right away if we are still figuring
out the tool chain.

On Friday, June 5, 2015, Arnold1 <notifications@github.com> wrote:

[2015-06-05 15:33] Arnold1 commented on #283
i have this board called redpitaya.

 i already used rust and mapped the fpga memory to linux using mmap...

[2015-06-05 16:42] bechamp commented on #283
RedPitaya boards are a great application. I saw them when they were
announced. Outside my hobby budget though and we don't have those laying
around at work. You are further along then me then. Would you have any
notes to share on getting rust to build for the device? Bare metal right
(not cross Linux)?

On Friday, June 5, 2015, Arnold1 <notifications@github.com> wrote:

[2015-06-05 16:45] Arnold1 commented on #283
i have not yet tried to build rust for bare metal...

[2015-06-05 18:27] posborne commented on #283
Having worked on a number of Cortex-A devices (working on U-Boot, Embedded Linux, and also and RTOS project), I'm not sure it makes a lot of sense for Zinc to try to target them in the short term.  Although targeting the core itself is and getting some code running in SRAM loaded on through JTAG is probably not terrible, these more powerful cores after often found within the context of more compli

[2015-06-05 18:59] Arnold1 commented on #283
for reference: http://www.xilinx.com/support/documentation/application_notes/xapp1079-amp-bare-metal-cortex-a9.pdf

[2015-06-05 19:08] farcaller commented on #283
I really agree with @posborne on this one, if your hardware supports u-boot, then there's really very little sense to bring zinc in.

As for guidelines on where to start, I really have little idea how to initialise Cortex-A systems and can hardly advice on that. Maybe starting with barebones helloworld in rust that inits hw enough to blink a led is a reasonable starting point? We can then see how

[2015-06-05 19:10] Arnold1 commented on #283
hello world and blink a led sounds great... can you provide some infos on how to initialize the cortex a9?

[2015-06-05 19:15] bechamp commented on #283
Hi Paul,
Everything you say is absolutely correct. Fully supporting the A core is
not a small feat. Supporting the on-die ecosystem is approaching
monumental. Then each board support package would be quite a bit of work.

SoCs are getting very complex with nonhomogeneous mutlicore arrangements
that support hypervisors and other such advances. Are those even attainable
by Rust and zinc? Maybe, prob

[2015-06-05 19:23] Arnold1 commented on #283
@bechamp lets build a hello world in rust as a proof of concept?

[2015-06-05 19:39] farcaller commented on #283
@bechamp you can take any existing C-based OS for Cortex-A9 and run rust code on it with reasonably little effort already. I envision zinc.rs as rust-only [RT]OS with no C code, the reasoning is to see what rust is missing to be used like that.

[2015-06-05 20:20] bechamp commented on #283
That is what I felt this project was and support that. Which is why I'm not
too sure about pursuing the SoC yet (myself) now as a lot of foundation is
still to achieved.

But, Arnold,
I think I'll try and look through that app note in the coming days and
cross reference the redpitaya docs to get an idea of what a hello world on
that board would be. I think it will be nontrivial too:

- compile van

[2015-06-05 20:51] Arnold1 commented on #283
@bechamp i agree...
you work for xilinx...than it shouldnt be to hard to ask some people pointing us to the right source? i will also read the application note and try to figure out how to configure the zynq for enable both cores fore bare metal and getting the startup code...

[2015-06-07 06:20] mcoffin opened #313 "Jenkins: Concurrent processes fail when updating crates.io index simultaneously"
Currnetly holding up:
- #298

Example build failure:
- [Jenkins build 31](http://ci.zinc.rs/job/zinc/32/)

[2015-06-08 04:40] mcoffin commented on #99
#298 landed fixing this at least within the `ioreg` scope.

[2015-06-08 19:47] mcoffin commented on #284
@jayrandez: The compile-time configuration of hardware means that some computation normally done at runtime can be done at compile-time (for example computation of clocks based on other clocks). The verification just means that you know you're not trying to, for example, instantiate two pins at the same index.

Closing because I think the question about the status of the project has been adequatel

[2015-06-08 19:47] #284 closed

[2015-06-08 19:53] farcaller commented on #306
Scheduler code needs a good refactoring that I did in a separate fork. Plan for it is to utilise POSIX signal() to test the userland scheduling code (which first needs to have zinc compilable for native).

[2015-06-08 19:54] mcoffin commented on #306
Ahh, so not really ready then as we're not yet sure how we're going to move all the architecture specific code out of the zinc crate. Gotcha.

[2015-06-08 20:01] mcoffin commented on #62
Can be closed since hacknbot is now Jenkins? Unless we have plans on reviving it as bors, that is.

[2015-06-08 20:08] farcaller commented on #62
I think it's handled by waffle now.

[2015-06-08 20:08] #62 closed

[2015-06-08 20:46] #274 closed

[2015-06-08 20:59] mcoffin commented on #259
Closed by #267 landing?

[2015-06-08 21:05] farcaller commented on #259
Yup, thanks for pointing out!

[2015-06-08 21:05] #259 closed

[2015-06-09 18:01] farcaller commented on #69
This is now done.

[2015-06-09 18:01] #69 closed

[2015-06-09 18:02] farcaller commented on #50
Step 4 implemented in #69 302

[2015-06-09 18:22] farcaller commented on #313
One way to fix it is to have dedicated $HOME for each of four workers.

[2015-06-09 18:32] farcaller commented on #50
Step 3 is tracked in #303

[2015-06-23 11:29] #310 closed

[2015-06-27 12:44] geraldstanje commented on #283
hi, guys.

i would like to contribute.
im not sure about the llvm-target for arm cortex a9:
[code]

how i build the libcore for arm cortex a9:
[code]

my c compiler (for linking):
[code]

[code]

generate the main object file:
[code]

any idea about this error?

[2015-07-02 18:32] geraldstanje commented on #283
can someone comment on this?

[2015-07-02 18:36] farcaller commented on #283
The safest bet is to dump ti_ipc_remoteproc_ResourceTable in a hex editor and just make a [u8] vec in rust to make you going.

[2015-07-02 18:50] geraldstanje commented on #283
arm-unknown-eabi as a llvm target for arm cortex a9 is fine?
and what about the startup code, i currently only added boot.S?!

[2015-07-02 18:56] farcaller commented on #283
arm-unknown-eabi sounds like a reasonable target. as for boot.S, I haven't worked with Cortex-A in a long while so I can't really advice on the proper initialisation sequence.

[2015-07-02 18:57] geraldstanje commented on #283
@farcaller
i have my working c project here: https://github.com/geraldstanje/rust-arm-cortex-a9/tree/master/orig/bare_metal_test.cpu1

but i cant see how the startup sequence is called. any idea?

[2015-07-02 19:04] farcaller commented on #283
This is the entry: https://github.com/geraldstanje/rust-arm-cortex-a9/blob/master/orig/bare_metal_test.cpu1/lscript.ld#L33

That calls to the [vector table](https://github.com/geraldstanje/rust-arm-cortex-a9/blob/master/orig/bare_metal_test.cpu1/app_cpu1_bsp/ps7_cortexa9_1/libsrc/standalone_v5_0/src/asm_vectors.S#L81-L90):

[code]

that goes to the [boot](https://github.com/geraldstanje/rust-arm-c

[2015-07-02 19:10] geraldstanje commented on #283
so all i need is boot.S thats it?

[2015-07-02 19:59] farcaller commented on #283
I think it's a reasonable approximation.

[2015-07-03 06:06] mcoffin opened #326 "Remove all old ioreg macros"
Tech debt from the redesign of the `ioregs!` macro needs to be paid.

Using this as a tracking issue since we're starting to fix this in a few locations.

[2015-07-03 06:08] mcoffin commented on #326
* GPIO for stm32f4 in dayarus#1 (local #325)

[2015-07-04 12:39] niclashoyer opened #327 "RFC: generate ioregs! macros from SVD files"
After discussion [here](https://github.com/hackndev/zinc/pull/325#discussion_r33886436) it seems that we could save a lot of work if we generate `ioregs!` macros from [SVD files](https://www.keil.com/pack/doc/CMSIS/SVD/html/svd__outline_pg.html).

Based on the great work of @posborne I threw together a [python script](https://gist.github.com/niclashoyer/06e9c26076af1b2fd485), that generates regist

[2015-07-04 12:40] niclashoyer commented on #327
related: #326

[2015-07-04 12:40] farcaller commented on #327
there's little sense to not commit the generated files in tree, really (like I did in #318).

[2015-07-04 12:45] niclashoyer commented on #327
ah, so we already got the ruby implementation of the svd parser/generator. I'll take a look at it in `support/`.

[2015-07-04 17:09] posborne commented on #327
This is also in-progress: https://github.com/posborne/zinc/tree/svd-generator-python.  Haven't been able to find much time lately to work on it more.

[2015-07-06 04:58] russellmcc opened #328 "How can I use ioreg from Cargo?"
I don't know that cargo is really set up for multi-crate repos like this.  Why aren't independently useful things like ioreg split up into separate repositories so they can be accessed from cargo?

I suppose it depends on other crates, like VolatileCell, but still, these could again be in their own repos...

[2015-07-06 07:43] farcaller commented on #328
The last time I checked there were issues with uploading crates that are used against nightly to crates.io. Is ti still the case? I'm all in to publish ioregs and volatile_cell.

[2015-07-07 14:55] mcoffin commented on #328
[code]

That will get you ioreg until we beleive it's stable enough to bother publishing to crates.io.

[2015-07-09 12:44] farcaller opened #329 "make layout.id mcu-aware"
As of now the memory sizes are essentially hardcoded, while the proper way would be to provide user an option to generate code for exact specific MCU.

cc @mcoffin in here. How hard/reasonable is it to make `layout.ld` generated from configure script, given that we'd better have the MCU description out of it (i.e. an external yaml file with mcu names with flash/ram sizes)?

[2015-07-09 12:59] farcaller commented on #327
Recapping the discussion we had here and in 326, I guess this is how we should proceed.

* we don't modify SVD files to store them in zinc tree
* every platform gets a dedicated `regs.rs` with all the ioregs, generated either manually, or from svd (whatever that is, a few people still need to cross-check it with docs)
* ioreg macro becomes our source of truth for a platform, we can always compile

[2015-07-09 13:18] niclashoyer commented on #327
+1

[2015-07-09 14:12] farcaller opened #330 "Cargo cross-build is broken"
https://travis-ci.org/hackndev/zinc/builds/70222004

Can someone take a look and maybe have some idea? My only guess is that libcore `build.rs` can't find `build.sh` due to some paths mixup. No idea why e.g. `rustc-serialize` looks for libstd though.

[2015-07-09 15:01] mcoffin commented on #330
I just can't find out why we're looking for rustc-serialize at all. That's new since the successful builds on master. Also noted the `libc` dependency being pulled from crates.io that's causing problems; that's new as well.

[2015-07-09 15:02] farcaller commented on #330
It's pulled via

[code]

[2015-07-09 15:20] mcoffin commented on #330
Well `expectest` depends on `num` which depends on `rustc-serialize`, which isn't compiled with `#![no_std]`.

The `std` resolution appears to be the only problem at the moment for the other platforms.

[2015-07-09 15:21] farcaller commented on #330
oh wait, `dev-dependency` aren't only pulled in for tests?

[2015-07-09 15:31] mcoffin commented on #330
Hmmm... Well they SHOULD be, but it looks like even in past lives we've been building our dev dependencies in `cargo build` and just getting away with it. I don't see a cargo bug about it so it must be something about current implementation that's causing it. That **is** the underlying problem though. Maybe we're misunderstanding `dev-dependencies`? It does seem pretty clear from the cargo docs th

[2015-07-09 15:49] farcaller commented on #330
Okay, so I had to disable

[code]

and
[code]

at which point it gets stuck only on core:

[code]

[2015-07-09 15:57] mcoffin commented on #330
Ahh! Got it. This is a problem with our super-target-fragile implementation of moving the `core` dependency in to the tree (instead of having the user compile it and install it in a standard location as would be done if they compiled rust for their specified target. You'll need to add a target-specific dependency on **our** `rust-libcore` to **our** `rlibc`. Here is the `Cargo.toml` snippet for th

[2015-07-09 16:12] mcoffin commented on #330
This is now documented [on the wiki](https://github.com/hackndev/zinc/wiki/Adding-an-llvm-target-to-zinc)

[2015-07-09 16:31] farcaller commented on #330
Thanks for the tip, now it's only the dev-dependencies thing.

https://travis-ci.org/hackndev/zinc/jobs/70249051

[2015-07-09 19:46] farcaller commented on #330
The problem is really on our side somewhere, the simple project works fine: https://gist.github.com/farcaller/15d1c05f12ccf52390f3

[2015-07-09 19:56] farcaller commented on #330
Okay, after further experiments I figured it's getting pulled in from volatile cell due to

[code]

in main toml. For whatever reason it enables "replayer" feature.

[2015-07-10 12:37] farcaller commented on #330
Got the proper test case. I think it's a cargo bug rather than out misconfiguration, filed https://github.com/rust-lang/cargo/issues/1796 to track it.

[2015-07-10 19:16] farcaller commented on #330
So this *is* a cargo issue alright. I'm trying to fix cargo, but a notable side effect for us will break all examples, they pull in dev-dependencies by design. This is a good time to break them in dedicated crates I think.

[2015-07-14 15:59] farcaller opened #331 "Modify examples to be dedicated crates"
As a followup to #330, we need to refactor all the examples to be dedicated crates. This also shows how hard zinc is to use for external users. I'd expect a zinc app to be just one more crate. It is unreasonable to expect the users to download zinc source and add a new "example" entry.

* [x] [blink](https://github.com/farcaller/zinc/commit/23ba2d49d214d4f45e7ae2a14e2280072bab441d) in #318
* [x] b

[2015-07-14 21:17] mcoffin commented on #331
Does posborne/zinc-example-lpc17xx not work anymore?

[2015-07-14 21:22] farcaller commented on #331
they do. The bundled examples are broken though.

[2015-07-14 21:50] mcoffin commented on #331
Ah I was just confused by this sentence.

[2015-07-14 21:50] farcaller commented on #331
Right. I forgot about that wiki page when I was writing it.

[2015-07-17 16:20] enginespot opened #332 "Could not compile `ioreg`.----build failed on macos"
[code]

[2015-07-17 16:29] farcaller commented on #332
Can't reproduce so far on same compiler and clean HEAD, will look into it over the weekend.

[2015-07-18 13:48] farcaller commented on #331
Landed all in #318.

[2015-07-18 13:48] #331 closed

[2015-07-18 13:51] farcaller opened #333 "Fix makefile to build cargoized examples"
Makefile is currently broken from #318 and will not build examples as expected. The whole its existence is slightly questionable now, as it's basically pre and post-processing around cargo. Maybe we need to make a simple wrapper around cargo anyway (sounds like a reasonable option given how cargo isn't that much cross-build friendly)?

[2015-07-19 13:15] farcaller commented on #332
Another stack trace after `#![plugin(syntaxext_lint)]` was removed:

https://gist.github.com/enginespot/93e288023bfc04bcf58e

[2015-07-31 18:53] LamentOfHeroes opened #334 "Zinc fails to build due to the removal of get_ident()"
It seems that rust-lang/rust@00a5e66f818ad9d79cc4425f5564c7b07e3213a6 removed get_ident(), preventing Zinc from compiling. It was used in these files:
ioreg/src/builder/{accessors.rs,getter.rs,register.rs,setter.rs,union.rs,utils.rs}
ioreg/src/parser.rs
macro_platformtree/src/lib.rs
platformtree/src/parser.rs

The rust version I used when I discovered this was rustc 1.3.0-nightly (4dfe7a16c 2015-0

[2015-07-31 19:27] LamentOfHeroes commented on #334
Unsure if it helps, but I've fixed what I can in pull request #335.

[2015-07-31 19:47] mcoffin commented on #334
Ok the upstream bug is fixed now. It was just the same problem effecting one of our dependent syntax extension crates. I'm going to tell travis to rebuild your pr.

[2015-07-31 20:57] #334 closed

[2015-08-08 18:42] mokus0 commented on #295
I saw this as well, in both the `empty` and `blink_stm32f4` examples.  After a while banging my head against the linker script trying to figure out why the heck KEEP wasn't keeping it, I finally thought to look at the linker input (zinc's rlib) and found that ISRVectors was being put in .rodata rather than .isr_vector.  Turns out this was a known issue (https://github.com/rust-lang/rust/issues/274

[2015-08-15 17:04] rvlander opened #336 "Failing to build example."
I have tried different way to build examples but without success.

The README page seems to be outdated.
I tried to directly cargo build in an example dir, but there is a compilation error when compiling core.

I tried to look to travis log to find a way: I have have another compilation error.

[2015-08-15 19:18] posborne commented on #336
@rvlander What version of rust?  Also, can you post the compilation error you are getting?

[2015-08-15 19:33] rvlander commented on #336
@posborne, what method should I use? README based? Travis base? or cargo build in example directory?

I tried with rust nightly (1.4.0) and rust 1.3.0beta.

[2015-08-15 21:06] posborne commented on #336
@rvlander, I apologize.  It has been a little while since I have tried to build.  I think there are a few things going on.

1. The README is wrong.  This issue is covered by #333.  Right now, you should be able to go into the example you want to bulid and just do a `cargo build`, I believe.
2. The build is failng on nightly due to fallout from https://github.com/rust-lang/rfcs/pull/1184.  Changes

[2015-08-15 21:44] rvlander commented on #336
Yes I have the same error.

[2015-08-17 01:06] mcoffin commented on #333
I agree, especially since a lot of that processing is platform-specific. Personally, however, I find the listing files *incredible* for debugging, so I would want a version kept around anyways.

The other thing it does is hide our slightly-not-idiomatic "feature" usage in cargo. I think it would be worth making an RFC for refactoring how we go about separating out all the various platforms and stu

[2015-08-17 12:30] rvlander commented on #336
I have the following error now:

/home/gandre/.cargo/git/checkouts/rust-libcore-a3e1d25b35d5cd12/master/rust/src/libcore/lib.rs:123 pub mod prelude;
                                                                                                           ^~~~~~~

[2015-08-17 14:11] mcoffin commented on #336
@rvlander That looks to be a problem upstream with the version of nightly rust that you're using, though I could be wrong.

[2015-08-17 14:44] farcaller commented on #336
rust-libcore shouldn't fail to compile. can you please try with the next nightly and report back?

[2015-08-17 14:50] rvlander commented on #336
I tested with rustc 1.4.0-nightly (e822a18ae 2015-08-16)

[2015-08-17 15:28] posborne commented on #336
@rvlander, what specific command are you using to build?  I have seen similar errors when I forget to add on the target spec.

[2015-08-17 15:46] rvlander commented on #336
**cargo build** in the example dir.

[2015-08-17 16:01] mcoffin commented on #336
@rvlander Until I fix the Makefile for the examples, you'll have to manually add the `--target` flag to cargo commands to build the examples. A list of target to platform mappings can be found in the `configure.ac` script.

[2015-08-17 16:41] rvlander commented on #336
I copied the target specification file in the example dir, then launched this command. Unfortunately, i still have the same error.

[2015-08-20 17:18] rvlander commented on #336
It finally built with last zinc version and last rust nightly. Thanks all.

However I have a linking error when trying to build in debug.

[2015-08-21 14:05] mcoffin commented on #336
What's the error with debug? I remember running in to something like that back when I was doing #285

[2015-08-22 10:33] rvlander commented on #336
This is the error I get:

[code]

[2015-08-23 20:17] stefanhoelzl opened #339 "Could not compile platformtree and core"
I tried to setup a project using zinc I ran into issues compiling core and platformtree

I use this command to build my project
[code]

and I get this error message
[code]

When I remove platformtree from my dependencies, I get another error compiling core
[code]

My Cargo.tom looks like this:
[code]

and my main.rs like this:
[code]

I get the same errors when I try to compile one of the examples

[2015-08-24 15:29] mcoffin commented on #336
Ugh. I thought we were finally out of the woods with the debug index symbols but I guess not. @posborne you were playing around with this issue with me before too. Just tagging you so you get notifications here too.

[2015-08-27 08:00] farcaller commented on #339
I believe this is fixed as of 3b4c301512b9100e6551bcd8870a1b827231a4eb.

[2015-08-27 08:00] #339 closed

[2015-08-27 08:03] farcaller commented on #336
Hm, `get_eit_entry` bugging us again? I can't reproduce this at 3b4c301512b9100e6551bcd8870a1b827231a4eb and linaro gcc 4.9 (2014q4). Basically, exidx is stripped from the resulting binary as we do not support unwinding.

[2015-08-27 08:04] farcaller commented on #336
@mcoffin, I belive those are not debug symbols, but "index entries for section unwinding", i.e. they are used in `panic`. Thing is that we shouldn't unwind at panic, we should infinite-loop there.

[2015-08-28 20:56] rvlander commented on #336
I am using the gcc-arm-none-eabi-4_8-2014q2 toolchain. I will try with other toolchains and report back.

[2015-08-29 04:07] posborne commented on #336
@rvlander, FWIW, I have been using the 4.9 toolchain from https://launchpad.net/~terry.guo/+archive/ubuntu/gcc-arm-embedded under 14.04.  Looks like there is a newer ppa available here now: https://launchpad.net/gcc-arm-embedded (assuming you are on Ubuntu).

[2015-08-29 13:58] rvlander commented on #336
Just tried with 4.9-2015q2. Same error.

[2015-08-29 18:48] farcaller commented on #336
Curious. Can you add them into linker script and dump the resulting linker map? I have little idea why it's being pulled in for your toolchain.

[2015-08-30 22:04] posborne commented on #336
I was able to reproduce this on my mac (using arm-none-eabi-gcc 4.9) today when bringing my PWM stuff up to date.  Here's the failing link command and error:

[code]

Here's the generated map file with cross references: https://gist.github.com/posborne/1c68c70e5dfce94dafba

As a quick fix, I was able to get things to link with the following change.  Excluding this section seems fine, but maybe som

[2015-08-31 06:48] rvlander commented on #336
@farcaller: Sorry but I am not sure of what you mean. I don't have a deep knowledge/understanding of gcc linker. How do I do what you expect from me?

[2015-08-31 08:06] posborne commented on #336
@rvlander, I think I provided the info the @farcaller was asking for.  To do that, I just copied the failing link command and added `"-Wl,-Map=failedlink.map,--cref".  You can try the workaround in my above diff to see if that also works for you (I expect it will).

The bigger question is probably why `.text.main` references `__rustc_debug_gdb_scripts_section__`.   Looking at the compiler, it appe

[2015-08-31 09:43] farcaller commented on #336
It's where in elf file it lands, if you don't discard it, it follows after `.text` into ROM I think.

Can I have the elf with __rustc_debug_gdb_scripts_section__ link error? I wonder if it's somehow relevant to recent rust and I really wonder why I still can't reproduce it.

[2015-08-31 16:54] posborne commented on #336
@farcaller, the error prevents the elf from being generated.  I can, however, provide an elf with the workaround which should have the information you need to determine if that workaround is ending up in ROM.  Will probably have to wait until this evening.

[2015-08-31 16:54] farcaller commented on #336
Yes, the latter one is what I want to see.

[2015-09-01 05:13] posborne commented on #336
It appears that things are fine with the section included.  It adds 34 bytes to the executable which is a wash with all the other losses when doing a debug build.  Here's the output for empty:

[code]

Consisting of...

[code]

The elf files (empty and and rgb_pwm_lpc17xx) can be found here: https://gist.github.com/posborne/01e937e4021c815466f7.  The rgb_pwm_lpc17xx currently ends up pulling in qu

[2015-09-01 08:46] farcaller commented on #336
Is this a release build?

[2015-09-01 16:50] posborne commented on #336
Both are debug builds.

[2015-09-02 17:57] farcaller commented on #336
After checking the release builds they look sane to me so I guess we can move on with defining the missing symbols, they don't matter much for release binaries.

This is going to land as part of #311.

[2015-09-03 06:40] rvlander commented on #336
Aren't they useful for gdb?

[2015-09-03 08:07] posborne commented on #336
Yes, having debug builds work (at least for small programs where things will fit) is quite useful for gdb debugging.  I'll work in the change to #311 when I get around to taking care of the next set of updates.

[2015-09-03 09:14] rvlander commented on #336
@postborne, I explained myself badly. Of course gdb need debug builds.

 What I understand is that the fix to the problem was to define dummy symbols so that the linker is happy. But will it affect the behaviour of gdb? Doesn't gdb need real symbols instead of not dummy ones?

[2015-09-03 09:17] farcaller commented on #336
Those symbols are used for unwinding, and if you got to unwinding things are horribly wrong anyway (i.e. you will trap in gdb no matter what).

[2015-09-08 19:50] kblomqvist opened #341 "Consider utilizing yasha for ioreg generation from SVD"
I have been developing code generator with SVD to ioreg case in mind. I know that you already have some tooling to generate ioreg macros from SVD, but I though that you would still be interested in to see what I have made.

The example project can be found here: https://github.com/kblomqvist/nrf51.rs

- `nrf51.rs.jinja` is a template file for the generated `nrf51.rs`
- `nrf51.jinja-ext` contains t

[2015-09-08 20:09] mcoffin opened #342 "rustc_front (HIR) fallout"
I imagine zinc will be effected by fallout similar to what the `syntaxext_lint` crate experienced [here](https://github.com/mcoffin/syntaxext_lint/commit/ef3a8315709801dad5bd0c536153a2c801d4314a)

I already updated the `syntaxext_lint` crate to reflect the changes. Version was bumped to `v0.1.2`.

[2015-09-12 08:15] farcaller opened #344 "Placement ioreg should support several registers of similar layout"

[2015-10-03 12:06] kblomqvist commented on #341
FYI, I have made several improvements to the example project since filing the issue.

[2015-10-15 15:01] rvlander commented on #344
Any news on this?

[2015-10-15 15:02] farcaller commented on #344
I got a preliminary version in works, but it was panicking on some definitions. Will check up the current state and bump.

[2015-10-15 15:06] rvlander commented on #344
@farcaller, great news!

[2015-10-19 05:29] plasticchris opened #347 "blink_k20 fails to build"
The read me at the root indicates to use the makefile to build; this doesn't work:

    chris:zinc chrisjohnson$ EXAMPLE_NAME=blink_k20 make build
    cd .
    cargo build --example blink_k20 --release --target=thumbv7em-none-eabi --verbose --features mcu_k20
     Downloading num v0.1.27
     Downloading expectest v0.3.1
    no example target named `blink_k20`
    make: *** [target/thumbv7em-none-

[2015-10-19 07:35] farcaller commented on #347
Structs broke down in fun and unexpected way apparently, opened a PR to track a fix.

[2015-12-01 08:31] aleksander opened #349 "Port to NXP LPC2388"
Hello.
I have SK-MLPC2388 evaluation board which is based on NXP LPC2388 chip (ARM7TDMI-S, 512k flash, 64k RAM).
I want to port Zinc to it.
Is it possible?
How much effort I have to make to run 'hello world'?
Are there any tutorials or other docs about porting Zinc?
I would be grateful for any help.

[2015-12-02 18:14] farcaller commented on #349
It's clearly possible but I don't think it's worth adding another architecture to zinc right now. Ioreg framework became a bit of a mess and PT is plainly broken.

I'm prototyping a new approach that would hopefully provide a more stable API to define hardware registers API, expect some updates before EOY.

[2015-12-02 18:14] #349 closed

[2015-12-02 18:22] mcoffin commented on #349
@farcaller Good to hear. I've been playing around a little too but have been too busy with work to really finish anything.

[2015-12-10 21:32] rvlander commented on #344
Has it been released?

[2015-12-10 21:33] farcaller commented on #344
Not yet, I'm on track for early Q1 2016.

[2015-12-11 07:56] rvlander commented on #344
All right. Good luck.

[2015-12-14 13:38] farcaller commented on #347
fixed in #351

[2015-12-14 13:38] #347 closed

[2015-12-14 13:38] farcaller commented on #333
docs updated to use proper cargo commands in #351

[2015-12-14 13:38] #333 closed

[2015-12-15 06:19] posborne commented on #342
I believe this can be closed.

[2015-12-15 06:20] posborne commented on #336
This can be closed now that the docs are updated.

[2015-12-15 10:10] farcaller commented on #336
Right, missed this one.

[2015-12-15 10:10] #336 closed

[2015-12-15 11:00] #342 closed

[2015-12-15 17:58] farcaller opened #356 "Split and publish stable parts of zinc to crates.io"
Back to do more coding!

The short-term plan is to split zinc into a few crates, including macro crates, dedicated crates for ioregs, hal. I've tinkered around the rust-libcore and managed to push `volatile_cell` with little issues.

Reasoning on ioreg is that it's better to have actual generated source in the repository, to make use of code completion and whatnot. SVD files (where applicable) are

[2015-12-15 20:27] mcoffin commented on #336
I'm now getting the aforementioned error.

/home/gandre/.cargo/git/checkouts/rust-libcore-a3e1d25b35d5cd12/master/rust/src/libcore/lib.rs:123 pub mod prelude;
                                                                                                           ^~~~~~~

[2015-12-15 20:32] farcaller commented on #336
try removing `Cargo.lock` to force all the latest versions?

[2015-12-15 20:39] mcoffin commented on #336
I think I've found it. The unzip directory for rust in [`rust-libcore`](https://github.com/hackndev/rust-libcore) can get stale versions of files removed if the rustc version changes without changes in the actual `rust-libcore` repo version. I'm just going to file an issue there and fix.

[2015-12-15 20:58] mcoffin opened #357 "rust download directory shouldn't be merged on version upgrade"
Currently, if a version upgrade happens upstream on the user's rustc before the user cleans their cargo git cache, the build script will download the new version of rust, and **merge** the tarball with the existing working directory when unzipping.

If the versions differ, the build script should delete the existing `rust` directory, and unzip the tarball in to a clean directory instead.

This is,

[2015-12-15 20:59] mcoffin commented on #357
Wrong project. Silly @waffle-iron interface.

[2015-12-15 20:59] #357 closed

[2015-12-16 00:49] posborne opened #358 "Consider switching to official rust style (rustfmt zinc)"
Putting out a feeler.  I think using the standard style is probably a good idea and makes contributing easier (in addition to making my emacs configuration easier).

https://github.com/rust-lang/rust/tree/master/src/doc/style

rustfmt can probably do a majority of the work, although it still needs some handholding in my experience to prevent it from going in the weeds in edge cases.  With `cargo i

[2015-12-16 00:57] mcoffin commented on #358
For reference, [previous discussion](https://github.com/hackndev/zinc/pull/285#issuecomment-105349159).

**TL;DR**: This would :hocho: `git-blame`

[2015-12-16 01:07] posborne commented on #358
@mcoffin.  You're right of course on `git blame` but I think it probably is worth it.  `git blame` does have options for ignoring whitespace changes (`-w`) which might be enough to make the reformat less of a big deal (given how often blames are actually performed in practice in my experience).  I'd like to think that Zinc has a long, bright future in front of it and reformatting may end up being

[2015-12-16 01:16] mcoffin commented on #358
Don't get me wrong, I'm all for it. Gonna be some work for somebody though.

And yea... we need to have an RFC party or something...

[2015-12-16 01:17] bharrisau commented on #358
This might be best tackling when splitting things into new repos. I think
@farcaller mentioned this in the last 24hrs.

Have we removed all the `#ignore doc_comments` yet too?

[2015-12-16 10:13] rvlander commented on #356
Great news!

[2015-12-16 10:31] farcaller commented on #358
I'm all in for it, but is rustfmt stable enough now?

[2015-12-16 18:03] posborne commented on #358
@farcaller It's pretty good but you still need to look at the diffs to keep things in check.  I ran it on a few of my projects the other day with pretty good results.

[2015-12-16 18:17] mcoffin commented on #358
*touches nose*

[2015-12-16 18:24] farcaller commented on #358
I want to kill `ioreg!` though... :fire:

[2015-12-16 19:51] mcoffin commented on #358
Like I said earlier and on IRC, we need to have an RFC party and make some tech decisions so that we can start working towards common goals.

[2015-12-16 20:23] farcaller commented on #358
Makes sense. Let me fire up a dedicated ticket for that.

[2015-12-16 20:25] farcaller opened #359 "Zinc IRC RFC party"
Pinging in @bgamari @0xc0170 @bharrisau @kvark @posborne @mcoffin and @errordeveloper. Are you in for a few hours of discussion on project goals?

[2015-12-16 20:52] bharrisau commented on #359
Sure, GMT+11 here. Have some dot points of what to discuss?

[2015-12-16 20:56] kvark commented on #359
Sorry, I'll pass on the discussion, will follow the thread.

[2015-12-16 21:39] mcoffin commented on #359
I'm in. GMT-7.

[2015-12-16 22:43] posborne commented on #359
I'm GMT-6 but pretty flexible as well.

[2015-12-16 23:07] bharrisau commented on #359
Gitter is an option too if IRC is too onerous for some.

[2015-12-17 00:49] lizardo commented on #356
I would welcome being able to generate readable code from ioreg!() macros, it would make easier to debug.

By the way, I've noticed build errors related to the core -> rust-libcore crate rename (using zinc @ f8a35003053e541a7646bcfa8f6c3c99756cca46). Is that being worked on? (Just to make sure it is not an error on my side.)

[2015-12-17 01:05] posborne commented on #356
CC @0xc0170

I like this idea.  We can probably take some inspiration from what the mbed guys are doing with Yotta and the mbed-hal-* packages (https://github.com/ARMmbed?query=mbed-hal) an overview of which is provided in the README for mbed-hal here: https://github.com/ARMmbed/mbed-hal#porting.  Interop with some of the mbed stuff might also be nice for some things, but I wouldn't shoot for it i

[2015-12-17 01:27] lizardo commented on #359
I just started playing with zinc a few weeks ago (and with Rust itself for a few months), but I would like to join to get a better understanding of the future steps for the project.

GMT-4 here. I prefer night time, but just say the day/time/place and I will try to join.

Either gitter or IRC is fine (is there an official IRC channel?). It would be nice if someone could take chat logs for those wh

[2015-12-17 01:40] posborne commented on #359
@lizardo #rust on moznet (irc.mozilla.org)

[2015-12-17 03:37] farcaller commented on #356
went to sleep before submitting the fix everywhere >_< I'll follow up on this in a few hours.

[2015-12-17 03:38] farcaller commented on #356
This is exactly the idea I'm thinking about.

[2015-12-17 08:40] 0xc0170 commented on #359
For me GMT. Seems like we are quite scattered around the world

+1, I assume they will result in RFC or tracking issues. we will be able to catch up

[2015-12-17 08:53] 0xc0170 commented on #356
@posborne Thanks for sharing the idea. Having targets would be useful.

I am in favor of splitting to crates, benefit from what cargo provides.

@farcaller Can you provide an example if I am getting this right - follow the documentation as follow the naming in svd files?

[2015-12-17 09:13] pablochacin commented on #359
yes, share log, please.

---------------------------
Pablo Chacin
CTO
SenseFields SL
Tlf (+34) 93 250 45 98
Gran Via 674, principal 1º
08010 Barcelona, Spain
http://www.sensefields.com

En compliment del que disposa la Llei Orgànica de Protecció de Dades
15/1999 i el seu reglament, Sensefields, S.L. us informa que les vostres
dades personals seran tractades i incorporades als nostres sistemes
info

[2015-12-17 10:48] farcaller commented on #356
Sure. Let's take lpc111x. There's a register called `I2C0MMCTRL` with a bit `MM_ENA` that can be enabled or disabled. Based on the original unprocessed svd naming the values are: `MONITOR_MODE_DISABLE` and `THE_I2C_MODULE_WILL_`. It might make sense to rename the constants to `Disabled` and `Enabled` but then you'll have to rename 95% of the constants in that one given svd.

[2015-12-17 18:27] mcoffin commented on #359
Adding this to the discussion:
* [Generalize platformtree](https://github.com/hackndev/zinc/issues/286) and less-painful generalization of MCUs.

Current thoughts on this: It might be possible to generalize the mcu like this with Rust's type system (using marker traits + empty enums) since it's turing complete instead of relying on compile-time macros, feature flags, and `#[cfg(..)]`-gating.

[2015-12-27 15:00] kblomqvist commented on #341
Update:

The mentioned CMSIS-SVD parser is now part of the default parsers of Yasha, which is a code generator based on Jinja2 template engine.

Lately I have been working with the SCons integration of Yasha for C and came up with the custom builder. Examples can be found here, https://github.com/kblomqvist/yasha#sconstruct-scons. Shortly it's possible to generate C files (also headers) so that SC

[2015-12-27 15:28] farcaller commented on #341
Cargo supports custom build steps to some extent, but I don't think that regenerating all SVDs should be part of it really.

[2015-12-27 15:56] kblomqvist commented on #341
I was thinking that only the target SVD would be generated during the first build and regenerated after the clean. I'm assuming that the build system can know the target MCU.

[2016-01-06 14:08] farcaller commented on #332
Looks fine now.

[2016-01-06 14:08] #332 closed

[2016-01-06 14:17] farcaller opened #365 "Pre-compiled ioregs RFC"
This is one of the topics I want to discuss as part of RFC party (#359), and I finally cleaned up code enough to share it.

https://github.com/farcaller/zinc-hal-lpc11xx ([api doc](http://farcaller.github.io/zinc-hal-lpc11xx/zinc_hal_lpc11xx/ioregs/index.html)) provides a Cargoized hal layer for single MCU family (actually only ioregs now). It's generated with yasha (#341) with some modifications,

[2016-01-06 14:18] farcaller commented on #359
Filed #365 with more details on suggested move from `ioregs!`

[2016-01-06 23:21] bharrisau commented on #365
Significantly less magic (which is a good thing). Having docs are good, but it would be good if the docs were more modular. That is, the front page only has the high level structs - ADC, CT16B0, CT32B0, etc.

Then under ADC you have ADC_cr, ADC_dr0, ADC_dr1, etc. And the *_Get and *_Update are hidden another layer down.

I'd suggest we also document a guideline on how much of the module semantics

[2016-01-06 23:26] farcaller commented on #365
good idea

well, that's what we have in SVD, should be a very basic description, right?

Yep, I'll clean that part in a few days. I got problems making this work with crates.io version of volatile_cell.

[2016-01-11 23:06] dpc opened #366 "Where do people from zinc-rs hang out?"
IRC? Gitter?

Does this project and people interested in it have any IM room to talk? I'm interested in it.

[2016-01-11 23:07] cmr commented on #366
I am too.

[2016-01-11 23:08] farcaller commented on #366
I think it's #zinc at irc.mozilla.org (you can find me at #hackndev over at freenode too, but that's not zinc-specific, more like a place where hackndev people hang out).

[2016-01-11 23:11] dpc commented on #366
I'd advise to put some official channel in README.md, to gather more people.

[2016-01-11 23:17] farcaller commented on #366
Fixed in 411027a4934f60cd620e5be3b5fe513938bcd98a

[2016-01-11 23:17] #366 closed

[2016-01-11 23:19] huonw opened #367 "volatile_cell has undefined behaviour"
- it is not legal to mutate data [through a `&` pointer](https://github.com/hackndev/zinc/blob/1112f2e9fb7fb9792e98e0fb5a0cd8da588b2972/volatile_cell/lib.rs#L68) unless that data is contained in [an `UnsafeCell`](http://doc.rust-lang.org/std/cell/struct.UnsafeCell.html)
- the `T` type has no bounds, and so can be used to duplicate arbitrary data, e.g. this prints the same pointer twice:

[code]

[2016-01-12 15:03] farcaller commented on #367
Fixed, thanks for pointing it out.

[2016-01-12 15:03] #367 closed

[2016-01-16 12:24] farcaller commented on #365
Things are progressing slower than I'd want, but anyways, here's the deal:

* https://github.com/farcaller/pioreg is the set of templates to generate ioregs
* https://github.com/kblomqvist/yasha/pull/5 is a patch to yasha to make that work

[2016-01-16 13:23] kblomqvist commented on #365
I'm ok :)

[2016-01-17 11:39] kblomqvist commented on #365
I made a new pip release of yasha, so the needed changes are more readily available.
https://github.com/kblomqvist/yasha/releases/tag/1.5

[2016-02-18 19:01] nistvan86 commented on #161
Any chance of moving this forward? Compiling to bare metal Raspberry Pi is definitely possible with Rust (http://blog.thiago.me/raspberry-pi-bare-metal-programming-with-rust/), but without Zinc using plain Cargo it's hard.

Also check out this blog series: http://www.valvers.com/open-software/raspberry-pi/step01-bare-metal-programming-in-cpt1/ and this repository: https://github.com/dwelch67/raspb

[2016-02-24 22:18] farcaller commented on #161
I reconsidered my stance that it's out of zinc scope and I'm ok with incoming PRs.

[2016-03-11 07:46] gyscos opened #370 "Compilation fail on current rustc nightly (1.9.0)"
Libsyntax at least has changed, and many compilation errors result from that.

Some changes are small (things like `syntax::ast::PatLit` being renamed to `syntax::ast::PatKind::Lit`, others are slightly larger (like some `syntax::ast::ItemKind::Impl.5` moving from `Vec<P<ImplItem>>` to `Vec<ImplItem>`).

[2016-03-12 01:28] thenewwazoo commented on #370
Additionally, [this commit](https://github.com/oli-obk/rust/commit/bfa66bb389ce1c7ce4aff09d1842b3428015bd4d) removes sign from the AST, which I'm not sure how to handle in ioreg/src/builder/utils.rs:30 (and more places besides).

[2016-03-12 01:30] thenewwazoo commented on #370
It's a totally naive suggestion, but could something like [syntex](https://github.com/serde-rs/syntex) be used instead of libsyntax?

[2016-03-12 04:36] thenewwazoo commented on #370
I've made an [exceedingly naive](https://github.com/thenewwazoo/zinc/tree/update-for-rust-1.9) attempt at resolving all the issues I can manage.

[2016-03-13 21:00] Gyscos commented on #370
Yeah, those come from the removal of the `P` indirection.

[2016-03-16 10:51] richo commented on #370
I created a PR that fixes many of these bugs. I'm currently working on where enum variants are specified to be u32 (I presume this is because they're `repr`d to the width of the registers) but sadly many primitive ops are defined on `usize`

[2016-04-07 19:11] Gyscos commented on #370
After updating to the new `libsyntax::ast` enums, compiling examples still give the following two kinds of errors (many errors of each kind):

[code]

[code]

[2016-04-08 17:31] gyscos opened #373 "Doc missing in `hal` module"
Files impacted:

[code]

With the `#![deny(missing_docs)]` in `src/lib.rs`, it means tiva_c code cannot compile.

[2016-05-23 20:58] Grawp opened #375 "Default build target for certain examples"
The MCU specific examples have default features set in their Cargo.toml like
`default = ["mcu_stm32f4"]`
I propose also directly adding symlink to JSON target description and `.cargo/config` with build target like
`[build]
target = "thumbv7em-none-eabi"`

Such example could be then build just by running cargo build --release.
The generic examples like _empty_ would retain status quo (i.e. no defau

[2016-05-23 20:59] farcaller commented on #375
Makes perfect sense, I'd appreciate a PR.

[2016-06-11 10:57] Protagores opened #377 "Conventions for reference mutability of hardware resources"
Currently, all methods in traits describing hardware classes (such as GPIO pins and SPI bus interfaces) use non-mutable `&self` pointers. This might cause problems with two or more consumers meddling with hardware state at the same time and getting into race conditions, for example, which are going to be very hard to diagnose at some point.

I have a suggestion to make the methods require `&mut se

[2016-06-11 21:14] pftbest opened #378 "assembler files"
Hi, can you please tell me how does `src/hal/cortex_m3/sched.S` get compiled using cargo? I can't find any reference to this file in the project. And there seems to be no language feature to include assembly files. I need to have a custom assembly file in my project, but I can't get it to link properly using cargo.

[2016-06-17 07:32] farcaller commented on #377
That sounds like an overall good idea, but I'm not sure that the hardware is always used in exclusive mode, e.g. it's a valid, and often used scenario to have several devices on SPI bus, so you can't hold the `&mut` on it. This noted, it should be a scheduled exclusive access, so maybe it's actually a job for a mutex-like thing.

[2016-06-17 12:03] Protagores commented on #377
In case of SPI, I think it'd be reasonable to make the driver provide separate chipselect resources which would abstract away their mutual exclusiveness with mutexing or spinlocking when needed.

[2016-06-17 12:44] farcaller commented on #377
Sounds good.

[2016-06-23 11:31] mwm opened #379 "Build of blink-stm32f4 fails with target specification issues."
Ok, environment:

[code]

But when I try and build this example:

[code]

At a guess, the problem is that something in the nightly channel changed, but I'm not sure. Maybe trying with a version that works for someone else would be useful. Could someone give me a version hash?

And of course, is there any other information you need from me in order to resolve this?

[2016-06-24 00:36] archaelus opened #380 "ioreg broke with rust nightly-2016-06-10+"
Hi all, something changed in rust nightly between 2016-06-09 and 2016-06-10 when building zinc:

`rustup run nightly-2016-06-09 cargo build --features mcu_k20` works fine:

[code]

But 2016-09-10 breaks with:

[code]

This level of lifetime magic is a bit beyond me right now - I tried following the compiler's advice but got nowhere.

[2016-06-24 00:48] archaelus commented on #380
To be more precise: rustc 1.11.0-nightly (34505e222 2016-06-08) works, but rustc 1.11.0-nightly (7d2f75a95 2016-06-09) doesn't.

[2016-06-28 05:16] archaelus commented on #250
👍 I just implemented this on my teensy/k20 branch of zinc - https://github.com/archaelus/zinc/blob/k20_72/src/hal/k20/uart.rs#L188-L198 It's a tiny amount of code, and quite a bit easier to use than CharIO.

[2016-07-05 11:44] fehrnah opened #382 "Travis pre-build fails"
See
[](https://travis-ci.org/hackndev/zinc/jobs/142407117)

Error while installing gcc-arm-none-eabi.

[2016-07-18 12:00] #382 closed

[2016-07-19 09:13] fehrnah opened #385 "volitile_cell dependency warning"
In Volitile_cell, expecttest is marked as a dependency but no version is specified, causing a warning from cargo.

[2016-08-04 02:41] tengyifei opened #386 "How to add support to new boards?"
Interested in adding one for Teensy (`MK20DX256`) and for STM Discovery (`STM32F746NG`).

[2016-08-06 16:48] farcaller commented on #386
The project is in a very big mess for a very long time since I can't dedicate enough personal time to it. There are a few pain points:

* ioregs requires constant maintenance as rust nightlies update
* platformtree is too fragile

The way to progress as I see it is to use boxed traits on stack, provided we reserve enough bytes for the magic. I've seen that done in other rust projects and it sounds

[2016-08-10 22:19] morriswinkler opened #387 "example of new zinc project seem broken"
Build seems to be broken.

i used example from https://github.com/posborne/zinc-example-lpc1768
with toolchain nightly-2016-05-26-x86_64-apple-darwin

here are my results

[code]

[code]

[code]

[code]

[code]

---

I tried also latest nightly

[code]

[code]

[2016-08-10 23:35] posborne commented on #387
Hi @morriswinkler, I'll admit I haven't been working with Zinc much recently.  Things *should* work, but the project hasn't been too active recently (it would be nice to get this to change).

[2016-08-13 13:09] morriswinkler commented on #387
It seems to me since nightly is still the testbed for new features, and zinc relies on nightly it is hard to keep up with changes. Isn't it possible to go with one of the current stale releases of rust ?

[2016-08-13 14:30] farcaller commented on #387
That's the grand plan — get rid of compiler plugins and fall back to stable, otherwise it's too hard to maintain.

[2016-08-14 10:43] morriswinkler commented on #387
is that even possible ?

What are the steps necessary for that.

[2016-08-27 18:18] jaredr commented on #387
It looks like at least some plugins will be workable soon-ish on stable. See https://github.com/rust-lang/rfcs/pull/1681 .  Maybe this is enough for zinc's plugins to function?

[2016-09-05 22:57] dhylands commented on #379
I've been able to build the blink_stm32f4 example by using rustup to override my toolchain to nightly-2016-05-24

[2016-09-18 12:20] adrianN opened #393 "zinc.rs uses expired certificate"
The certificate for https://zinc.rs/ expired on September 10th.

[2016-09-18 12:30] farcaller commented on #393
I totally remember discussing this a week ago at RustConf, but I don't remember fixing it >_(\

Thanks!

[2016-09-18 12:30] #393 closed

[2016-09-22 11:16] nvl1109 opened #395 "Build blink_k20 failed"
I build blink_k20 with following failed, please take a look.

`$ cargo build --target=thumbv7em-none-eabi --features mcu_k20 --release
    Updating registry `https://github.com/rust-lang/crates.io-index`
    Updating git repository `https://github.com/hackndev/rlibc`
 Downloading rust-libcore v0.0.3
   Compiling macro_zinc v0.1.0 (file:///home/linhnv1/p/zinc/macro_zinc)
   Compiling zinc v0.1.0 (f

[2016-09-22 17:44] Phaiax commented on #395
Hm, just checked out 1ad41f3 and compiled with that same rustc and it worked.
Have you moved any folders or changed anything? git status -s

[2016-09-23 02:14] dhylands commented on #395
I also just tried a fresh clone of zinc (same hash as @Phaiax mentioned) and it worked (also using the same version of rustc). I was running on Ubuntu 16.04 (if that matters).

[2016-09-23 16:47] Phaiax commented on #395
note that the compatible nightly version just has changed

[2016-09-24 10:38] nvl1109 commented on #395
Hi all,

Firstly, I'm so sorry for late response. My environment is not REAL Ubuntu 14.04, it is Windows 10 Subsytem Ubuntu. Although it still is Ubuntu 14.04 but maybe has some different.

I'm do not have a chance to try in REAL Linux (I have archlinux dual boot, but I'm busy for some days). I will try then feedback later.

Thank you guys for your responses.

[2016-09-24 20:15] gyscos opened #397 "Example `blink_tiva_c` does not compile"
When running the recommended nightly version (`rustc --version` returns `d4037fc47 2016-09-16`), the `examples/blink_tiva_c` example does not compile for two reasons:
- `#![deny(missing_docs)]` errors because of the missing doc in the tiva_c module (See #373)
- Even after fixing this, I get:

[code]

Note: compiling the `blink_k20` works properly, but apparently these two examples have different s

[2016-09-24 20:17] gyscos commented on #370
Zinc now (mostly) compiles with a modern compiler.

[2016-09-24 20:17] #370 closed

[2016-09-25 17:06] Phaiax commented on #380
fixed in master

[2016-09-26 16:49] nvl1109 commented on #395
@Phaiax I'm tested on Archlinux with updated nightly rust version. It's ok. So I will close this issue. Please accept my apology.

[2016-09-26 16:49] #395 closed

[2016-09-26 18:36] Phaiax commented on #395
Hm, no need to apologize :D
`/home/linhnv1/p/zinc/macro_zinc/src/macro_zinc.rs`
I'm curious why it wanted to access this file, it did not even exist.

[2016-10-02 18:43] gyscos commented on #387
Macro 1.1 looks like it will only support custom Derive; I think zinc would require something closer to what they call "Macro 2.0", which is still a long way off. :(

[2016-10-02 19:06] farcaller commented on #387
The plan is to pre-compile ioregs and move PT to the build script, so that there are no unstable macro requirements in the immediate app dependencies.

[2016-10-08 20:16] jamwaffles opened #398 "NGX LPC1768 Blueboard with USB bootloader"
Apologies for putting a question in a Github issue, but I can't think of a better place to ask it.

I've been trying to compile a hello world LED blink test program for the Blueboard mentioned in the title. It uses an LPC1768-H IC, however it also has a USB bootloader that shows up as a mass storage device, which I believe to be the [AN10866](http://www.nxp.com/documents/application_note/AN10866.p

[2016-10-12 13:50] jamwaffles commented on #397
I ran into the same problems and eventually managed to fix them. The changes were merged in #399. I managed to compile the Tiva examples with Rust 1.13.0-nightly. There's a sample project [here](https://github.com/jamwaffles/zinc-tiva-c-example) that you could try and build on. It seems Zinc requires quite a specific version of Rust to work properly at the moment. YMMV of course :)

[2016-11-29 17:29] mcoffin opened #403 "Comply with unsafe rule for extern statics"
We'll need to comply with the new `safe_extern_statics` lint. It's currently set to `warn` by default, but that's going to change.

Upstream issue in rust: rust-lang/rust#35112

[2016-11-29 17:30] mcoffin commented on #159
Confirmed that this is no longer happening as of e68f861. Closing.

[2016-11-29 17:31] #159 closed

[2016-11-29 17:32] mcoffin commented on #398
The IRC channel (`#zinc` on the Mozilla network) has been seeing a little more activity as of late. I'm not entirely sure what you're looking for, but if you hop over there and highlight me I'd be more than happy to help fix it with ya.

[2016-11-29 17:39] mcoffin commented on #373
This was fixed by just just adding `#[allow(missing_docs)]` to the tiva_c modules that were causing the problem in #399 but we should still go back through and actually document things rather than just ignore the errors that we were originally forcing to not ignore.

[2016-11-29 17:41] mcoffin commented on #397
Confirmed that this example builds as of e68f861, so I'm going to close this. I'm leaving #373 open since #399 just basically ignored-away the `missing_docs` errors, and we really should go back through and fix that instead of just ignoring the errors / warnings.

I noted that on #373 as well.

[2016-11-29 17:41] #397 closed

[2016-11-29 18:23] mcoffin commented on #387
Well, this *particular* error is fixed by the landing of #400, which deprecates the use of `rust-libcore`, in favor of letting [`xargo`](https://crates.io/crates/xargo) manage the potential compilation of the `core` crate for us.

[2016-11-29 18:23] #387 closed

[2016-11-29 18:25] mcoffin commented on #386
I'm going to close this as the question has been answered. Feel free to re-open if you're still needing help, but I'm trying to clean up our waffle.io board.

[2016-11-29 18:25] #386 closed

[2016-11-29 18:35] mcoffin commented on #380
Correct!

[2016-11-29 18:35] #380 closed

[2016-11-29 18:53] mcoffin commented on #379
This appears to build for me as of e68f861. I'm going to close this. If you're still having an issue, feel free to re-open and I'll take a closer look.

[2016-11-29 18:54] #379 closed

[2016-11-29 19:00] mcoffin commented on #378
The scheduler assembly file is currently not built at all. The way forward would be to use the `build.rs` build script to build the assembly and then link against the resulting object file, similar to how one would include regular old C code in a Rust crate.

[2016-11-29 19:02] mcoffin commented on #375
This appears to have happened in d097403961421fe1d2062e66f1878d78c523bb99, which landed in #376, so I'm going to close this. Thanks!

[2016-11-29 19:03] #375 closed

[2016-11-29 19:06] mcoffin commented on #313
This isn't really a problem anymore as we've switched to travis (at least for the time being).

[2016-11-29 19:07] #313 closed

[2016-11-29 19:08] pftbest commented on #378
@mcoffin Thank you.

[2016-11-29 19:08] #378 closed

[2016-11-29 19:25] mcoffin commented on #186
This isn't really a thing anymore as `fail` was changed to `panic` upstream and some of how the lang items work was changed. Upstream bug was closed.

[2016-11-29 19:26] #186 closed

[2016-11-29 21:11] jamwaffles commented on #398
Thanks, I'll drop in there if I have something else come up. I ended up giving up on the LPC board due to the _vast_ lack of documentation for it and instead moved on to the Tiva C I had sitting in my drawer, which works pretty well with Zinc.

[2016-11-29 21:11] #398 closed

[2016-11-30 00:25] #385 closed

[2016-11-30 00:26] #373 closed

[2016-11-30 00:36] mcoffin commented on #235
@farcaller now that #400 landed, with the `xargo` build system, the `rlibc` dep isn't that much of a PITA at all.  I think this is likely finally closable if you agree.

In case you weren't tracking it too closely, `xargo` basically lets us use arbitrary dependencies from `crates.io` or wherever without having to worry about propagating that stupid `rust-libcore` dependency upstream.

[2016-11-30 01:21] mcoffin commented on #273
* Usage of pointers was fixed as a side-effect of 2f15d444
* I've gone through and grok'd the double-unwrapping. It's because we have a `Vec` full of `Option<Some>`, so when you call `vec.get()`, you get `&Option<Option<Some>>` We unwrap only the first option, asserting that `maybe_pin_index` will be within the bounds of the `Vec`.

Since we're already panicking on the failure of the index derefer

[2016-11-30 01:42] mcoffin commented on #78
@farcaller Isn't [this](https://github.com/hackndev/zinc/commit/674df0d0142c9387fd409e2a30d2690d95bf051a#diff-838e81e701d5e83238783b0b40efb3a5R74) a runtime check that was added that likely caused the size increase?

[2016-11-30 01:48] #328 closed

[2016-11-30 01:48] mcoffin commented on #328
Closed as the question has been answered.

[2016-11-30 01:54] mcoffin commented on #303
Note for self and anyone reading: the `zinc` crate will now build for native, but that's just because all the mcu code sits behind cargo feature gates.

[2016-12-02 18:41] farcaller commented on #78
Makes sense.

[2016-12-02 18:41] #78 closed

[2016-12-05 03:01] #273 closed

[2016-12-05 17:45] mcoffin opened #407 "Phase out usage of iomem.ld"
Most of the iomem.ld stuff can be moved in to native rust I *think*. (ping @farcaller).

We can just have them as rust statics that get changed to `&'static` references to their actual types. This is what I see for a lot of the newer register code.

Is there a downside to doing this @farcaller? As for #329, this would allow us to completely do away with mcu-specific linker scripts (with the except

[2017-02-08 17:37] farcaller commented on #407
yep, sounds like a perfect way to tackle it. The missing thing is that the current code for pointer casters doesn't support several registers of one type.

[2017-02-08 17:37] farcaller commented on #235
SGTM.

[2017-02-08 17:37] #235 closed

[2017-02-12 14:51] Boscop opened #409 "Raspberry PI support"
Is Raspberry PI (2 or 3) supported?

[2017-02-12 16:21] farcaller commented on #409
There are no plans to support RPi. Its CPU can handle "bigger" OSes, like linux, and you can write fully-featured rust programs. There is very little use in an embedded stack.

[2017-02-12 16:21] #409 closed

[2017-02-27 17:11] darkdragon-001 opened #410 "Add support for Espressif ESP32"
This interest for [Espressiv ESP32](https://en.wikipedia.org/wiki/ESP32) is growing really fast at the moment, especially because of their big functionality on a small footprint for a very low price.

I would love to see this supported :smiley:

[2017-02-27 17:58] farcaller commented on #410
I believe there's no llvm support, thus it's not possible to target the cpu from rust. @whitequark might know more.

Still closing, as it's not something zinc can technically do.

[2017-02-27 17:58] #410 closed

[2017-02-27 18:02] whitequark commented on #410
The LLVM backend is reportedly being developed but not by me. I don't know what's its status other than "Espressif is probably paying for it".

[2017-02-28 07:54] darkdragon-001 commented on #410
Who is developing it? Where can I keep track of the progress?

[2017-02-28 07:56] whitequark commented on #410
Some consulting company. I don't think you can.

[2017-02-28 08:35] darkdragon-001 commented on #410
Thanks for the clarification...

@whitequark I found the [public part of your discussion](https://www.esp32.com/viewtopic.php?t=499) as well as the [official confirmation tweet](https://twitter.com/EspressifSystem/status/824399990965489664).

I also found some files in the [llvm project](https://llvm.org/svn/llvm-project/llvm-gcc-4.2/trunk/gcc/config/xtensa/).

If anybody stumbles over an upgrade

[2017-02-28 08:37] whitequark commented on #410
This is just from a copy of gcc inside llvm. It has no bearing on llvm itself.

[2017-03-21 09:56] MrSpock opened #411 "rust-src component not found on MacOS"
Hi,
When I try build basic example on MacOS I'm getting message about missing rust-src which is installed:

[code]

[2017-03-21 17:18] mcoffin commented on #411
Hmm, likely `rustup` is trying to install `rust-src` for a different toolchain than the one you have overridden for the zinc directory. If you have IRC, I'll be chilling in #zinc on Mozilla.

[2017-03-22 21:47] MrSpock commented on #411
Hi.
Source of this problem was in xargo (https://github.com/japaric/xargo/issues/85).
Update for xargo and problem is solved.

[2017-03-22 23:44] #411 closed

[2017-03-22 23:44] mcoffin commented on #411
Thanks!

[2017-05-22 14:32] MrSpock opened #412 "Example blink_k20_isr from README doesn't build"
Hi,
When trying to build basic example here is what is happening:
[code]

[2017-05-22 19:38] mcoffin commented on #412
Are you using the recommended old nightly version of rust?

[2017-05-22 19:50] MrSpock commented on #412
Argh - I assumed that every newer nightly or stable will have required features.
My mistake.

[2017-05-30 18:26] mcoffin commented on #412
It's not necessarily that they got rid of features, it's just that compiler internals change a lot right now, and this kind of compiler plugin has to change along with it, but there's nobody that's putting in the work right now to keep it up to date.

[2017-05-30 18:26] #412 closed

[2017-06-06 11:08] bluecube opened #413 "ADC support?"
I was looking through the repository and couldn't find any mentions about other peripherials on the MCU, specifically ADC. Is it possible to use these now? If not, how hard would it be to add it and where should I start?

[2017-06-06 12:06] jamwaffles commented on #413
I [added SPI to the Tiva C](https://github.com/hackndev/zinc/pull/401/files) which wasn't too tricky. That PR might be useful as an example. Zinc doesn't have complete support for all peripherals yet, hence the various PRs about adding them. You may want to do what I did and copy a similar looking config from another peripheral that is supported by Zinc on your platform, then modify the init routi

[2017-06-13 16:25] afonso360 opened #414 "Use the same license as the rust project"
Hi,

Would it be possible to relicense this project as Apache 2.0/MIT?
Being Apache only makes it incompatible with a number of common licenses including some of the following

- GNU GPL
- GNU LGPL
- Creative Commons Non-Comercial

A list of commonly use but incompatible licenses can be found [here](https://www.apache.org/legal/resolved.html#category-x).

This would also facilitate with integratin

[2017-06-13 16:26] farcaller commented on #414
That's by design.

[2017-06-13 16:26] #414 closed

[2018-04-15 16:05] pawelkat opened #415 "u"

[2018-04-15 17:40] #415 closed

[2018-06-06 19:18] kallisti5 opened #416 "[Architecture] RISC-V HiFive1 Support?"
I know it's early days (and other MCU support is coming), but the HiFive1 seems like an *awesome* potential target platform for something like this.

At the moment there is a gcc / g++ toolchain you can build binaries for RISC-V with, and load them onto the HiFive1 with openocd.

https://www.sifive.com/products/hifive1/

[2018-06-06 19:31] jamwaffles commented on #416
Last I heard Zinc was abandoned which is a shame. Have you looked at [rust-lang-nursery/embedded-wg](https://github.com/rust-lang-nursery/embedded-wg)? I mostly live in the STM32 world at the moment, but I think there are murmurings of Rust RISC-V support over there. I'd love to see Rust as a first class citizen on RISC-V so make some noise!

[2018-07-13 23:51] johnthagen commented on #416
Yes, https://users.rust-lang.org/t/zinc-mini-post-mortem/7079

[2018-07-13 23:52] johnthagen opened #418 "Document clearly in the README that this project is no longer maintained"
With almost 1000 stars, it's not immediately clear that this repo is no longer maintained.

https://users.rust-lang.org/t/zinc-mini-post-mortem/7079

[2018-07-17 08:50] #418 closed

[2018-07-17 08:50] farcaller commented on #418
Yup, that was long overdue. Thanks for a poke.

[2018-07-17 15:37] johnthagen commented on #416
@kallisti5 Check out https://github.com/rust-lang-nursery/embedded-wg for actively maintained Rust embedded projects.